# Creating the Dataset

I will be using data scraped from the twitter accounts of prominent national politicians using SNscrape. I will be getting all tweets from these polticians since Donald Trump became POTUS on 1/20/2017. I will be dividing this data into 4 subsets, Liberal Democrats, Moderate Democrats, Moderate Republicans, and Conservative Republicans. Then, I will create a dataset for each party, and then combine all of this data into one dataframe.

## Imports

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import numpy as np

## Scraping

### Liberal Democrats

In [2]:
bidenl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:JoeBiden since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    bidenl1.append([tweet.date, tweet.content, tweet.user.username])
dems1 = pd.DataFrame(bidenl1, columns=['Date', 'Tweet', 'Username'])

dems1

,Date,Tweet,Username
0,2022-11-16 02:20:35+00:00,Donald Trump failed America. https://t.co/fyly...,JoeBiden
1,2022-11-15 21:30:02+00:00,Today is the one-year anniversary of the Bipar...,JoeBiden
2,2022-11-15 18:19:00+00:00,One year after the Bipartisan Infrastructure L...,JoeBiden
3,2022-11-15 15:05:04+00:00,The difference between talking and delivering....,JoeBiden
4,2022-11-14 22:45:02+00:00,"In this year’s midterm elections, we saw the s...",JoeBiden
...,...,...,...
6333,2017-02-06 01:29:42+00:00,Incredible performance from my friend @LadyGag...,JoeBiden
6334,2017-02-02 22:33:55+00:00,Our tolerance and diversity make America great...,JoeBiden
6335,2017-02-01 16:25:37+00:00,From fighting cancer to changing the culture o...,JoeBiden
6336,2017-02-01 14:57:38+00:00,We cannot yield an inch on all the progress we...,JoeBiden
6337,2017-02-01 14:57:19+00:00,"Now more than ever, we must work hard to prese...",JoeBiden

In [3]:
bidenl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:POTUS since:2021-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    bidenl2.append([tweet.date, tweet.content, tweet.user.username])
dems2 = pd.DataFrame(bidenl2, columns=['Date', 'Tweet', 'Username'])

dems2

,Date,Tweet,Username
0,2022-11-18 14:18:30+00:00,"Unfair, hidden fees known as “junk fees” take ...",POTUS
1,2022-11-17 21:02:02+00:00,My Administration locked in $800 in annual sav...,POTUS
2,2022-11-17 19:33:46+00:00,I promised we’d crack down on wealthy billiona...,POTUS
3,2022-11-17 18:11:57+00:00,"When I think of Nancy Pelosi, I think of digni...",POTUS
4,2022-11-17 16:09:39+00:00,"In the face of global challenges, America will...",POTUS
...,...,...,...
4349,2021-01-21 02:25:00+00:00,I applaud the Senate for putting partisanship ...,POTUS
4350,2021-01-21 01:57:34+00:00,We're back in the Paris Climate Agreement.,POTUS
4351,2021-01-20 23:03:55+00:00,After taking the oath of office this afternoon...,POTUS
4352,2021-01-20 18:31:00+00:00,The time to move forward is now. https://t.co/...,POTUS
4353,2021-01-20 17:36:59+00:00,There is no time to waste when it comes to tac...,POTUS

In [4]:
sandersl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:BernieSanders since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    sandersl1.append([tweet.date, tweet.content, tweet.user.username])
dems3 = pd.DataFrame(sandersl1, columns=['Date', 'Tweet', 'Username'])

dems3

,Date,Tweet,Username
0,2022-11-18 01:36:43+00:00,"In my view, it is absurd that Howard Schultz —...",BernieSanders
1,2022-11-17 15:16:55+00:00,Let me congratulate my friend @KarenBassLA on ...,BernieSanders
2,2022-11-17 12:09:47+00:00,I'm proud to stand with Starbucks workers on s...,BernieSanders
3,2022-11-16 00:13:07+00:00,"In state after state, the American people are ...",BernieSanders
4,2022-11-15 16:30:43+00:00,"I stand in strong solidarity with the 48,000 a...",BernieSanders
...,...,...,...
8106,2017-01-22 16:50:01+00:00,President Trump: Women aren’t going back to se...,BernieSanders
8107,2017-01-21 16:18:55+00:00,We won't achieve our goals if we treat democra...,BernieSanders
8108,2017-01-21 00:39:01+00:00,We must vigorously defend DACA and the young p...,BernieSanders
8109,2017-01-20 15:23:12+00:00,Our response to Mr. Trump's inauguration has t...,BernieSanders
8110,2017-01-20 02:17:51+00:00,There should be no disagreement that the First...,BernieSanders

In [5]:
sandersl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenSanders since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    sandersl2.append([tweet.date, tweet.content, tweet.user.username])
dems4 = pd.DataFrame(sandersl2, columns=['Date', 'Tweet', 'Username'])

dems4

,Date,Tweet,Username
0,2022-11-17 19:45:37+00:00,"Thank you, @SpeakerPelosi, for all that you ha...",SenSanders
1,2022-11-16 22:34:19+00:00,"Maybe just maybe, the Supreme Court should rea...",SenSanders
2,2022-11-16 18:04:06+00:00,"Let me congratulate the 1,200 physicians at Mo...",SenSanders
3,2022-11-14 16:51:06+00:00,Why have insulin prices soared? Just 3 compani...,SenSanders
4,2022-11-13 22:02:47+00:00,"On Friday, we came together in St. Albans to c...",SenSanders
...,...,...,...
6056,2017-01-21 00:18:01+00:00,"At a time of massive attacks on privacy, I wil...",SenSanders
6057,2017-01-21 00:09:12+00:00,We must not stop vigorously defending DACA and...,SenSanders
6058,2017-01-20 23:58:13+00:00,In a cabinet loaded with extremists I hope Gen...,SenSanders
6059,2017-01-20 15:06:02+00:00,"Today will be a tough day, but we can't throw ...",SenSanders
6060,2017-01-20 14:26:10+00:00,The entire First Family represented our countr...,SenSanders

In [6]:
schumerl1 = []
maxTweets = 20000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenSchumer since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    schumerl1.append([tweet.date, tweet.content, tweet.user.username])
dems7 = pd.DataFrame(schumerl1, columns=['Date', 'Tweet', 'Username'])

dems7

,Date,Tweet,Username
0,2022-11-18 14:32:33+00:00,I'm proud to announce that because of the Amer...,SenSchumer
1,2022-11-17 19:30:53+00:00,"Thank you, @SpeakerPelosi. It is the honor of ...",SenSchumer
2,2022-11-17 19:18:16+00:00,Few leaders in American history have been as e...,SenSchumer
3,2022-11-17 17:48:03+00:00,"Thank you, @SpeakerPelosi! https://t.co/R1hzJa...",SenSchumer
4,2022-11-17 16:24:56+00:00,The elections revealed a basic truth about our...,SenSchumer
...,...,...,...
10189,2017-01-22 13:22:22+00:00,Tune in this morning: https://t.co/8IaqrhfL3t,SenSchumer
10190,2017-01-20 22:52:21+00:00,It only took an hour for those populist words ...,SenSchumer
10191,2017-01-20 22:20:09+00:00,Telling &amp; troubling that the Trump Adminis...,SenSchumer
10192,2017-01-20 00:44:30+00:00,"Barrett was a brilliant NY beacon, cleaning up...",SenSchumer
10193,2017-01-20 00:40:56+00:00,"If heaven has a flaw, we're gonna find out soo...",SenSchumer

In [7]:
schumerl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:chuckschumer since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    schumerl2.append([tweet.date, tweet.content, tweet.user.username])
dems8 = pd.DataFrame(schumerl2, columns=['Date', 'Tweet', 'Username'])

dems8

,Date,Tweet,Username
0,2022-11-17 19:17:16+00:00,"Thank you, Speaker Pelosi.",chuckschumer
1,2022-11-16 21:30:51+00:00,The right to marry who you love should be prot...,chuckschumer
2,2022-11-13 03:51:51+00:00,"Tonight more than ever, I'm thinking of my fri...",chuckschumer
3,2022-11-13 03:14:22+00:00,Democrats will keep the Senate Majority!\n\nNe...,chuckschumer
4,2022-11-13 02:32:30+00:00,It’s official: Democrats will maintain control...,chuckschumer
...,...,...,...
534,2017-05-12 17:46:02+00:00,Congrats to new @DNC CEO @JessOConne11. I look...,chuckschumer
535,2017-04-12 02:29:04+00:00,.@TheDemocrats fight in Kansas is just the sta...,chuckschumer
536,2017-02-25 21:38:49+00:00,Congrats also to @keithellison &amp; @EllisonC...,chuckschumer
537,2017-02-25 21:36:12+00:00,Hard fought #DNCChair race. Congrats to the ne...,chuckschumer
538,2017-02-25 14:18:01+00:00,Yes it would! https://t.co/khuOGNWH6o,chuckschumer

In [8]:
harrisl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:VP since:2021-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    harrisl1.append([tweet.date, tweet.content, tweet.user.username])
dems9 = pd.DataFrame(harrisl1, columns=['Date', 'Tweet', 'Username'])

dems9

,Date,Tweet,Username
0,2022-11-18 12:00:25+00:00,"Today in Bangkok, I convened leaders from Japa...",VP
1,2022-11-18 07:13:15+00:00,The United States has an enduring economic com...,VP
2,2022-11-17 21:33:00+00:00,"For 111 years, the men of Omega Psi Phi Frater...",VP
3,2022-11-17 20:26:03+00:00,"Thank you, @SpeakerPelosi.\n \nOur entire nati...",VP
4,2022-11-17 16:43:01+00:00,"It’s wonderful to be in Bangkok, Thailand. Ove...",VP
...,...,...,...
2020,2021-01-21 15:17:19+00:00,I stand on the shoulders of those who came bef...,VP
2021,2021-01-21 03:21:44+00:00,This moment embodies our character as a nation...,VP
2022,2021-01-21 00:56:49+00:00,It was an honor to return to the Senate to swe...,VP
2023,2021-01-20 18:11:22+00:00,It's an honor to be your Vice President. https...,VP
2024,2021-01-20 17:02:10+00:00,Ready to serve.,VP

In [9]:
harrisl2 = []
maxTweets = 20000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:KamalaHarris since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    harrisl2.append([tweet.date, tweet.content, tweet.user.username])
dems10 = pd.DataFrame(harrisl2, columns=['Date', 'Tweet', 'Username'])

dems10

,Date,Tweet,Username
0,2022-11-17 17:07:05+00:00,"Congratulations to my friend @KarenBassLA, the...",KamalaHarris
1,2022-11-15 19:24:00+00:00,Every American deserves access to clean drinki...,KamalaHarris
2,2022-11-15 16:45:07+00:00,"One year ago today, President @JoeBiden signed...",KamalaHarris
3,2022-11-11 22:02:00+00:00,Democracy is only as strong as our willingness...,KamalaHarris
4,2022-11-11 19:58:02+00:00,"Voters in Vermont, Michigan, California, and K...",KamalaHarris
...,...,...,...
10865,2017-01-20 16:09:26+00:00,So here’s the deal: our ideals are at stake ri...,KamalaHarris
10866,2017-01-20 14:53:00+00:00,We must not despair. We must not be overwhelme...,KamalaHarris
10867,2017-01-20 14:02:30+00:00,We must not remain silent in a time that requi...,KamalaHarris
10868,2017-01-20 01:52:58+00:00,The GOP’s attacks on @PPact &amp; women’s acce...,KamalaHarris
10869,2017-01-20 00:01:11+00:00,Let us all stand up for people who deserve to ...,KamalaHarris

In [10]:
warrenl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenWarren since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    warrenl1.append([tweet.date, tweet.content, tweet.user.username])
dems11 = pd.DataFrame(warrenl1, columns=['Date', 'Tweet', 'Username'])

dems11

,Date,Tweet,Username
0,2022-11-18 15:40:04+00:00,With the Inflation Reduction Act Democrats del...,SenWarren
1,2022-11-18 00:30:03+00:00,It’s time for Congress to provide a pathway to...,SenWarren
2,2022-11-17 20:32:38+00:00,"As a lawyer, teacher &amp; Senator, I’ve worke...",SenWarren
3,2022-11-17 20:32:37+00:00,"For many years, the treatment of people who bo...",SenWarren
4,2022-11-17 20:32:37+00:00,The Biden administration has taken an importan...,SenWarren
...,...,...,...
7279,2017-01-23 21:11:27+00:00,Attacking @PPFA &amp; US women’s reproductive ...,SenWarren
7280,2017-01-20 23:27:23+00:00,We must measure @POTUS @realDonaldTrump by act...,SenWarren
7281,2017-01-20 23:26:15+00:00,"That’s 40,000 families who just lost their cha...",SenWarren
7282,2017-01-20 23:25:30+00:00,.@POTUS suspended a planned cut in FHA mortgag...,SenWarren
7283,2017-01-20 23:24:21+00:00,"Just minutes after taking the oath of office, ...",SenWarren

In [11]:
warrenl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:ewarren since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    warrenl2.append([tweet.date, tweet.content, tweet.user.username])
dems12 = pd.DataFrame(warrenl2, columns=['Date', 'Tweet', 'Username'])

dems12

,Date,Tweet,Username
0,2022-11-18 15:01:34+00:00,Voters rewarded Democrats who said plainly tha...,ewarren
1,2022-11-17 22:02:41+00:00,A lot of people were surprised by last week’s ...,ewarren
2,2022-11-17 19:37:17+00:00,House Republicans have a plan:\n1️⃣ Refuse to ...,ewarren
3,2022-11-17 16:25:09+00:00,"Republicans fight hard for billionaires, billi...",ewarren
4,2022-11-17 14:15:21+00:00,@KarenBassLA Woo-hoo! Very happy that you’ll b...,ewarren
...,...,...,...
9633,2017-02-04 19:57:51+00:00,"Our country is in crisis because for years, Wa...",ewarren
9634,2017-02-04 19:56:34+00:00,Our country is in crisis – but that crisis did...,ewarren
9635,2017-01-23 02:47:06+00:00,Woo-hoo! Let's go Pats! #Patriots,ewarren
9636,2017-01-21 20:29:31+00:00,Happy to march with 125k+ women (&amp; friends...,ewarren
9637,2017-01-20 14:39:50+00:00,"Thank you, President @BarackObama. We'll miss ...",ewarren

In [12]:
aocl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:AOC since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    aocl1.append([tweet.date, tweet.content, tweet.user.username])
dems13 = pd.DataFrame(aocl1, columns=['Date', 'Tweet', 'Username'])

dems13

,Date,Tweet,Username
0,2022-11-18 02:09:59+00:00,If only we had taxed the rich maybe none of th...,AOC
1,2022-11-18 00:22:20+00:00,Shout out to all the workers at Twitter. You a...,AOC
2,2022-11-18 00:12:54+00:00,Hoping this doesn’t happen ⬇️ but just in case...,AOC
3,2022-11-17 21:18:07+00:00,Ticketmaster monopoly got you down?\n\nTake ac...,AOC
4,2022-11-16 16:37:50+00:00,Marijuana Pardons vs. Expungements: what’s the...,AOC
...,...,...,...
8399,2017-05-17 12:26:40+00:00,It's official: we're running for NY-14! Thank ...,AOC
8400,2017-05-17 12:11:38+00:00,@staceyhopkinsga @BrandNew535 @robb2018 @AdrBe...,AOC
8401,2017-05-16 21:13:11+00:00,Thank you Lyel - motivated by so many people r...,AOC
8402,2017-05-16 16:14:07+00:00,Looking forward to this! New @BrandNew535 cand...,AOC
8403,2017-05-09 00:54:36+00:00,Thank you for having me! It's a dream to speak...,AOC

In [13]:
aocl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepAOC since:2019-01-03 lang:en').get_items()):
    if i == maxTweets:
        break
    aocl2.append([tweet.date, tweet.content, tweet.user.username])
dems14 = pd.DataFrame(aocl2, columns=['Date', 'Tweet', 'Username'])

dems14

,Date,Tweet,Username
0,2022-11-18 13:48:34+00:00,We’re hiring! Our office is seeking a Policy A...,RepAOC
1,2022-11-17 20:18:49+00:00,Join @AARPNY’s telephone town hall tomorrow at...,RepAOC
2,2022-11-16 15:37:13+00:00,2⃣ Pardon immigrants. President Biden’s pardon...,RepAOC
3,2022-11-16 15:36:52+00:00,1⃣ Expungement. A pardon ends a prison sentenc...,RepAOC
4,2022-11-16 15:36:34+00:00,President Biden sent an important signal when ...,RepAOC
...,...,...,...
1079,2019-01-14 20:48:28+00:00,"I’ve been getting letters, visits, &amp; calls...",RepAOC
1080,2019-01-13 02:38:43+00:00,"It is a complete injustice that to this day, s...",RepAOC
1081,2019-01-13 02:36:00+00:00,Thank you @townhallproject! https://t.co/BjGxf...,RepAOC
1082,2019-01-09 18:03:38+00:00,It was an honor of a lifetime to meet with Rev...,RepAOC
1083,2019-01-08 18:30:41+00:00,I just had a furloughed worker come visit me i...,RepAOC

In [14]:
watersl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepMaxineWaters since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    watersl1.append([tweet.date, tweet.content, tweet.user.username])
dems15 = pd.DataFrame(watersl1, columns=['Date', 'Tweet', 'Username'])

dems15

,Date,Tweet,Username
0,2022-11-11 21:06:19+00:00,A salute to all of our Veterans who have serve...,RepMaxineWaters
1,2022-11-08 20:57:18+00:00,Our democracy depends on citizen participation...,RepMaxineWaters
2,2022-10-31 21:42:04+00:00,Halloween is meant to be a fun time! Mimicking...,RepMaxineWaters
3,2022-10-31 17:18:16+00:00,So happy to hear that Paul Pelosi is recoverin...,RepMaxineWaters
4,2022-10-28 21:51:58+00:00,"My friend, Roz Wyman was a highly respected De...",RepMaxineWaters
...,...,...,...
1093,2017-01-23 16:18:49+00:00,Nominee Betsy DeVos’s Knowledge of Education B...,RepMaxineWaters
1094,2017-01-21 21:12:12+00:00,I was so proud to see my friend @GloriaSteinem...,RepMaxineWaters
1095,2017-01-21 15:34:29+00:00,I'll be joining @JoyAnnReid this morning at 10...,RepMaxineWaters
1096,2017-01-21 14:25:27+00:00,I'll be joining @npratc today at 5:00 pm w/ @N...,RepMaxineWaters
1097,2017-01-20 04:30:29+00:00,"Maxine Waters on ""TMZ Live"" -- https://t.co/u9...",RepMaxineWaters

In [15]:
watersl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:MaxineWaters since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    watersl2.append([tweet.date, tweet.content, tweet.user.username])
dems16 = pd.DataFrame(watersl2, columns=['Date', 'Tweet', 'Username'])

dems16

,Date,Tweet,Username
0,2022-02-11 16:19:39+00:00,"Rep. Hmm Rogers apologizing after ""Kiss my a**...",MaxineWaters
1,2021-06-29 14:19:07+00:00,".@ToneStith, you don’t need a do over! Auntie ...",MaxineWaters
2,2021-06-19 18:01:11+00:00,Come now! We are here until 2pm at Crozier Mid...,MaxineWaters
3,2021-06-19 15:57:36+00:00,I’m celebrating #Juneteenth by doing a big foo...,MaxineWaters
4,2020-12-11 20:18:17+00:00,ICYMI: Sidelined from protests after an injury...,MaxineWaters
...,...,...,...
1143,2017-08-11 17:11:41+00:00,@AlexMohajer @HillaryClinton @MaxineWaters @an...,MaxineWaters
1144,2017-04-17 19:26:50+00:00,I will not get distracted and I won't stop fig...,MaxineWaters
1145,2017-04-17 19:20:40+00:00,Do not be distracted by this President. Stay ...,MaxineWaters
1146,2017-04-17 19:19:04+00:00,I was so thrilled to participate in the #taxma...,MaxineWaters
1147,2017-04-12 22:36:01+00:00,"Join ""Auntie Maxine"" at @busboysandpoets (5th ...",MaxineWaters

In [16]:
bookerl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:CoryBooker since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    bookerl1.append([tweet.date, tweet.content, tweet.user.username])
dems17 = pd.DataFrame(bookerl1, columns=['Date', 'Tweet', 'Username'])

dems17

,Date,Tweet,Username
0,2022-11-18 13:01:02+00:00,I really love the many teachers who every sing...,CoryBooker
1,2022-11-17 17:32:52+00:00,America is better because Nancy Pelosi chose t...,CoryBooker
2,2022-11-16 13:33:00+00:00,One of my Newark mentors was honored at the Ne...,CoryBooker
3,2022-11-16 12:24:00+00:00,It was such a privilege to see an American ico...,CoryBooker
4,2022-11-16 02:33:35+00:00,If you believe in this message – this movement...,CoryBooker
...,...,...,...
6654,2017-01-23 15:00:16+00:00,Trump Administration is calling for the elimin...,CoryBooker
6655,2017-01-23 13:50:19+00:00,"""Nothing strengthens authority so much as sile...",CoryBooker
6656,2017-01-21 14:28:35+00:00,Proud to stand with @CecileRichards &amp; Plan...,CoryBooker
6657,2017-01-21 13:03:38+00:00,"""No person is your friend who demands your sil...",CoryBooker
6658,2017-01-20 13:20:31+00:00,"This is not a time to curl up, give up or shut...",CoryBooker

In [17]:
bookerl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenBooker since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    bookerl2.append([tweet.date, tweet.content, tweet.user.username])
dems18 = pd.DataFrame(bookerl2, columns=['Date', 'Tweet', 'Username'])

dems18

,Date,Tweet,Username
0,2022-11-16 17:00:38+00:00,The COVID booster keeps kids in school and pre...,SenBooker
1,2022-11-16 14:51:25+00:00,ICYMI: My office has updated our annual Vetera...,SenBooker
2,2022-11-15 20:15:01+00:00,Today is your last chance to get your expanded...,SenBooker
3,2022-11-11 18:07:57+00:00,My parents taught me that I drink deeply from ...,SenBooker
4,2022-11-04 15:28:49+00:00,"That means expanding the Child Tax Credit, imp...",SenBooker
...,...,...,...
3514,2017-01-23 23:37:22+00:00,Today @CoryBooker met with NJ women’s rights a...,SenBooker
3515,2017-01-20 22:21:01+00:00,Trump Admin. is calling for the elimination of...,SenBooker
3516,2017-01-20 22:10:25+00:00,President Obama signs final bill—bipartisan le...,SenBooker
3517,2017-01-20 21:23:42+00:00,First 2 petitions on https://t.co/MAb1WWYeRs a...,SenBooker
3518,2017-01-20 04:21:01+00:00,"Climate change is not only real, it is a dange...",SenBooker

In [18]:
jayapall1 = []
maxTweets = 20000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepJayapal since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    jayapall1.append([tweet.date, tweet.content, tweet.user.username])
dems19 = pd.DataFrame(jayapall1, columns=['Date', 'Tweet', 'Username'])

dems19

,Date,Tweet,Username
0,2022-11-18 00:30:00+00:00,As one of the largest employers in the country...,RepJayapal
1,2022-11-17 23:00:02+00:00,This is what it looks like to put people over ...,RepJayapal
2,2022-11-17 21:30:00+00:00,The Supreme Court has already signaled their w...,RepJayapal
3,2022-11-17 20:00:00+00:00,I sent a letter to the @FTC and @TheJusticeDep...,RepJayapal
4,2022-11-17 19:00:01+00:00,We need to do as much as we can for poor peopl...,RepJayapal
...,...,...,...
18002,2017-01-20 16:55:38+00:00,"""This is not a normal time and we cannot prete...",RepJayapal
18003,2017-01-20 16:40:53+00:00,Wondering why I'm with the people of my distri...,RepJayapal
18004,2017-01-20 02:19:20+00:00,This is my message to all the people who are t...,RepJayapal
18005,2017-01-20 01:19:31+00:00,My interview with @KUOW: Here's why Congresswo...,RepJayapal
18006,2017-01-20 01:03:58+00:00,Positive conversation with @downtownseattle to...,RepJayapal

In [19]:
jayapall2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:PramilaJayapal since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    jayapall2.append([tweet.date, tweet.content, tweet.user.username])
dems20 = pd.DataFrame(jayapall2, columns=['Date', 'Tweet', 'Username'])

dems20

,Date,Tweet,Username
0,2022-11-18 15:53:02+00:00,"As an immigrant, I’m disgusted by GOP governor...",PramilaJayapal
1,2022-11-18 02:44:00+00:00,We don’t need more corporate tax breaks. We ne...,PramilaJayapal
2,2022-11-18 00:31:00+00:00,This is the America that Republicans want — it...,PramilaJayapal
3,2022-11-17 22:06:00+00:00,I’m proud to stand in solidarity with Starbuck...,PramilaJayapal
4,2022-11-17 19:12:01+00:00,The same plaintiff suing to stop debt cancella...,PramilaJayapal
...,...,...,...
6505,2017-01-20 14:59:24+00:00,I was able to live my American dream for one s...,PramilaJayapal
6506,2017-01-20 14:57:09+00:00,I emigrated to the US from India at 16. My par...,PramilaJayapal
6507,2017-01-20 04:33:20+00:00,Had a great conversation with @KUOW about why ...,PramilaJayapal
6508,2017-01-20 04:00:19+00:00,Great interview with @BrandiKruse on why I am ...,PramilaJayapal
6509,2017-01-20 00:31:24+00:00,A very powerful read about the stories of our ...,PramilaJayapal

In [20]:
klobucharl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:amyklobuchar since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    klobucharl1.append([tweet.date, tweet.content, tweet.user.username])
dems21 = pd.DataFrame(klobucharl1, columns=['Date', 'Tweet', 'Username'])

dems21

,Date,Tweet,Username
0,2022-11-18 13:47:42+00:00,America is going back to the Moon!\n\nhttps://...,amyklobuchar
1,2022-11-17 23:22:07+00:00,We know that there is still so much more we ne...,amyklobuchar
2,2022-11-17 20:22:22+00:00,The Respect for Marriage Act is about equality...,amyklobuchar
3,2022-11-17 17:34:56+00:00,The impact of @SpeakerPelosi’s leadership is i...,amyklobuchar
4,2022-11-17 15:18:09+00:00,"Since Ticketmaster merged with LiveNation, con...",amyklobuchar
...,...,...,...
9875,2017-01-21 19:47:04+00:00,Here I am with our Minnesota group...some hear...,amyklobuchar
9876,2017-01-21 15:34:46+00:00,Speaking to our MN marchers in DC at the #Wome...,amyklobuchar
9877,2017-01-21 14:02:21+00:00,Peaceful transition of power yesterday. Peace...,amyklobuchar
9878,2017-01-20 17:32:19+00:00,A bit of camaraderie...my seat mates at the in...,amyklobuchar
9879,2017-01-20 04:54:58+00:00,Questcor settlement sends a strong message: We...,amyklobuchar

In [21]:
klobucharl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenAmyKlobuchar since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    klobucharl2.append([tweet.date, tweet.content, tweet.user.username])
dems22 = pd.DataFrame(klobucharl2, columns=['Date', 'Tweet', 'Username'])

dems22

,Date,Tweet,Username
0,2022-11-17 17:20:32+00:00,I spoke on the Senate floor about the Respect ...,SenAmyKlobuchar
1,2022-11-16 23:26:42+00:00,We've seen an alarming rise in catalytic conve...,SenAmyKlobuchar
2,2022-11-14 01:04:22+00:00,Medicare Open Enrollment is underway! \n\nMake...,SenAmyKlobuchar
3,2022-11-11 17:58:02+00:00,It’s been said that a nation that forgets its ...,SenAmyKlobuchar
4,2022-11-10 23:25:09+00:00,The climate crisis isn't happening some time i...,SenAmyKlobuchar
...,...,...,...
1605,2018-02-07 22:08:24+00:00,"On the Senate floor today, Senator Klobuchar s...",SenAmyKlobuchar
1606,2018-01-25 00:01:31+00:00,"The Super Bowl is just over a week away, which...",SenAmyKlobuchar
1607,2018-01-12 02:31:23+00:00,A bipartisan group of Senators announced they ...,SenAmyKlobuchar
1608,2018-01-09 18:24:36+00:00,Today Senator Klobuchar joined @SenMarkey and ...,SenAmyKlobuchar
1609,2018-01-09 18:03:22+00:00,"The @FCC may have voted to end #NetNeutrality,...",SenAmyKlobuchar

In [22]:
demsl1 = []
maxTweets = 20000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:TheDemocrats since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    demsl1.append([tweet.date, tweet.content, tweet.user.username])
dems23 = pd.DataFrame(demsl1, columns=['Date', 'Tweet', 'Username'])

dems23

,Date,Tweet,Username
0,2022-11-18 14:50:02+00:00,"700,000 manufacturing jobs have been created s...",TheDemocrats
1,2022-11-18 02:00:06+00:00,President @JoeBiden signed into law the PACT A...,TheDemocrats
2,2022-11-18 00:55:00+00:00,President @JoeBiden nominated and the Senate c...,TheDemocrats
3,2022-11-17 23:05:01+00:00,"📣 Georgia voters, did you know? @ReverendWarno...",TheDemocrats
4,2022-11-17 21:22:00+00:00,"Through the Bipartisan Safer Communities Act, ...",TheDemocrats
...,...,...,...
14536,2017-01-21 13:44:43+00:00,If you're worried you'll be discriminated agai...,TheDemocrats
14537,2017-01-20 18:09:38+00:00,Thank you. https://t.co/EUCIUgyTm6,TheDemocrats
14538,2017-01-20 17:56:37+00:00,Thank you. https://t.co/4wfRsM3BWt,TheDemocrats
14539,2017-01-20 17:00:45+00:00,We’re here and we’re ready to fight back. Say ...,TheDemocrats
14540,2017-01-20 14:48:44+00:00,There’s only one thing left to say after eight...,TheDemocrats

#### Assembling the dataframe

In [107]:
lib_dems_tweets_list = [dems1, dems2, dems3, dems4, dems7, dems8, dems9, dems10, dems11, dems12, 
           dems13, dems14, dems15, dems16, dems17, dems18, dems19, dems20, dems21, dems22, dems23]
lib_dems_tweets = pd.concat(lib_dems_tweets_list)

In [108]:
lib_dems_tweets.head()

,Date,Tweet,Username
0,2022-11-16 02:20:35+00:00,Donald Trump failed America. https://t.co/fyly...,JoeBiden
1,2022-11-15 21:30:02+00:00,Today is the one-year anniversary of the Bipar...,JoeBiden
2,2022-11-15 18:19:00+00:00,One year after the Bipartisan Infrastructure L...,JoeBiden
3,2022-11-15 15:05:04+00:00,The difference between talking and delivering....,JoeBiden
4,2022-11-14 22:45:02+00:00,"In this year’s midterm elections, we saw the s...",JoeBiden

In [109]:
print(lib_dems_tweets.shape)
print(lib_dems_tweets.dtypes)
print(lib_dems_tweets.isna().sum())

(137874, 3)
Date        datetime64[ns, UTC]
Tweet                    object
Username                 object
dtype: object
Date        0
Tweet       0
Username    0
dtype: int64

In [110]:
lib_dems_tweets = lib_dems_tweets.sort_values(by='Date', ascending = True)
lib_dems_tweets = lib_dems_tweets.reset_index(drop = False)
lib_dems_tweets = lib_dems_tweets.drop(columns=['index'])
lib_dems_tweets.Date = pd.to_datetime(lib_dems_tweets['Date'])
lib_dems_tweets.Date = lib_dems_tweets.Date.dt.strftime("%m/%d/%Y")
lib_dems_tweets.Date = pd.to_datetime(lib_dems_tweets['Date'])
lib_dems_tweets['Political_Score'] = 1
lib_dems_tweets['Democrat_Score'] = 1
lib_dems_tweets['Republican_Score'] = np.nan
lib_dems_tweets

,Date,Tweet,Username,Political_Score,Democrat_Score,Republican_Score
0,2017-01-20,Let us all stand up for people who deserve to ...,KamalaHarris,1,1,NaN
1,2017-01-20,A very powerful read about the stories of our ...,PramilaJayapal,1,1,NaN
2,2017-01-20,"If heaven has a flaw, we're gonna find out soo...",SenSchumer,1,1,NaN
3,2017-01-20,"Barrett was a brilliant NY beacon, cleaning up...",SenSchumer,1,1,NaN
4,2017-01-20,Positive conversation with @downtownseattle to...,RepJayapal,1,1,NaN
...,...,...,...,...,...,...
137869,2022-11-18,I'm proud to announce that because of the Amer...,SenSchumer,1,1,NaN
137870,2022-11-18,"700,000 manufacturing jobs have been created s...",TheDemocrats,1,1,NaN
137871,2022-11-18,Voters rewarded Democrats who said plainly tha...,ewarren,1,1,NaN
137872,2022-11-18,With the Inflation Reduction Act Democrats del...,SenWarren,1,1,NaN
137873,2022-11-18,"As an immigrant, I’m disgusted by GOP governor...",PramilaJayapal,1,1,NaN

In [28]:
#Sanity Check
print(lib_dems_tweets.shape)
print(lib_dems_tweets.dtypes)
print(lib_dems_tweets.isna().sum())

(137874, 6)
Date                datetime64[ns]
Tweet                       object
Username                    object
Political_Score              int64
Democrat_Score               int64
Republican_Score           float64
dtype: object
Date                     0
Tweet                    0
Username                 0
Political_Score          0
Democrat_Score           0
Republican_Score    137874
dtype: int64

### Conservative Republicans

In [29]:
trumpl1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:realdonaldtrump since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    trumpl1.append([tweet.date, tweet.content, tweet.user.username])
gop1 = pd.DataFrame(trumpl1, columns=['Date', 'Tweet', 'Username'])

gop1

Empty DataFrame
Columns: [Date, Tweet, Username]
Index: []

In [30]:
trumpl2 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:POTUS45 since:2017-01-20 until:2021-1-19 lang:en').get_items()):
    if i == maxTweets:
        break
    trumpl2.append([tweet.date, tweet.content, tweet.user.username])
gop2 = pd.DataFrame(trumpl2, columns=['Date', 'Tweet', 'Username'])

gop2

,Date,Tweet,Username
0,2018-06-01 17:28:09+00:00,Record JOBS DAY!! 223K jobs added. Unemploymen...,POTUS45
1,2018-01-31 06:18:32+00:00,THANK YOU @SteveScalise!\n#SOTU #TeamScalise h...,POTUS45
2,2017-12-01 21:32:52+00:00,Thank you @SecretaryZinke! https://t.co/r84hnW...,POTUS45
3,2017-11-29 20:15:28+00:00,Just arrived in Missouri. Heading to St. Charl...,POTUS45
4,2017-11-01 17:04:25+00:00,Opening remarks at this afternoons @Cabinet me...,POTUS45
...,...,...,...
373,2017-01-21 17:18:05+00:00,"I am honored to serve you, the great American ...",POTUS45
374,2017-01-21 02:25:43+00:00,"January 20th 2017, will be remembered as the d...",POTUS45
375,2017-01-21 00:47:49+00:00,Signing documents to allow Mattis and Kelly to...,POTUS45
376,2017-01-20 22:32:17+00:00,"On behalf of my entire family, THANK YOU! #Ina...",POTUS45
377,2017-01-20 19:11:33+00:00,#InaugurationDay Speech🇺🇸\nhttps://t.co/2h8yWM...,POTUS45

In [31]:
trumpl3 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:DonaldJTrumpJr since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    trumpl3.append([tweet.date, tweet.content, tweet.user.username])
gop3 = pd.DataFrame(trumpl3, columns=['Date', 'Tweet', 'Username'])

gop3

,Date,Tweet,Username
0,2022-11-18 15:26:24+00:00,Democrats are desperate to pass amnesty laws b...,DonaldJTrumpJr
1,2022-11-17 23:13:55+00:00,Our democracy is in serious danger… or does th...,DonaldJTrumpJr
2,2022-11-17 19:46:17+00:00,GOP House Opens Probe into Biden Family for Po...,DonaldJTrumpJr
3,2022-11-17 19:43:40+00:00,PA lawmakers impeach Soros-funded Philadelphia...,DonaldJTrumpJr
4,2022-11-16 15:57:47+00:00,THIS IS THE WAY https://t.co/PlvKnSBUEB,DonaldJTrumpJr
...,...,...,...
10206,2017-01-20 13:39:02+00:00,"On behalf of the entire Trump family, THANK YO...",DonaldJTrumpJr
10207,2017-01-20 13:28:04+00:00,Wow. Just saw this pic of Kai and her grandpa ...,DonaldJTrumpJr
10208,2017-01-20 03:45:03+00:00,Couldn't resist breaking out the camera for th...,DonaldJTrumpJr
10209,2017-01-20 01:26:33+00:00,#Repost @ivankatrump\n・・・\nOn the steps of the...,DonaldJTrumpJr
10210,2017-01-20 01:22:47+00:00,#Repost foxnews\n・・・\nViewers enjoyed a specta...,DonaldJTrumpJr

In [32]:
pencel1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:VP45 since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    pencel1.append([tweet.date, tweet.content, tweet.user.username])
gop4 = pd.DataFrame(pencel1, columns=['Date', 'Tweet', 'Username'])

gop4

,Date,Tweet,Username
0,2021-01-19 20:45:47+00:00,Thank you for the privilege of serving as your...,VP45
1,2020-01-01 15:14:45+00:00,"In 2017, Speaker Pelosi called President @real...",VP45
2,2019-12-31 23:44:39+00:00,A record year for America! The stock market cl...,VP45
3,2019-12-29 20:14:33+00:00,Karen and I were shocked by the heinous anti-s...,VP45
4,2019-12-26 20:02:58+00:00,"GREAT news: Today, the NASDAQ hit 9,000 for th...",VP45
...,...,...,...
5203,2017-01-21 05:22:43+00:00,Thanks to everyone for a wonderful inaugural e...,VP45
5204,2017-01-20 22:58:50+00:00,Making the historic journey from US Capitol to...,VP45
5205,2017-01-20 22:37:19+00:00,"After riding in parade to the @WhiteHouse, we ...",VP45
5206,2017-01-20 20:09:15+00:00,Inspiring Inaugural Address from President @re...,VP45
5207,2017-01-20 18:05:56+00:00,It is the honor of my life to serve our countr...,VP45

In [33]:
pencel2 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:Mike_Pence since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    pencel2.append([tweet.date, tweet.content, tweet.user.username])
gop5 = pd.DataFrame(pencel2, columns=['Date', 'Tweet', 'Username'])

gop5

,Date,Tweet,Username
0,2022-11-18 16:35:26+00:00,Thank you to Everyone who came out for my Firs...,Mike_Pence
1,2022-11-17 20:38:35+00:00,Congratulations @HouseGOP! And Thank You To Th...,Mike_Pence
2,2022-11-17 04:24:44+00:00,"More than anything else, we will respond to th...",Mike_Pence
3,2022-11-17 04:24:12+00:00,To anyone that leads a busy life—which is true...,Mike_Pence
4,2022-11-17 04:23:05+00:00,It is going to be incumbent upon states that e...,Mike_Pence
...,...,...,...
3590,2017-01-20 14:50:42+00:00,Grateful for the support throughout the transi...,Mike_Pence
3591,2017-01-20 14:17:22+00:00,We begin this historic and humbling day as we ...,Mike_Pence
3592,2017-01-20 04:21:43+00:00,Karen and I enjoyed a magical evening at the c...,Mike_Pence
3593,2017-01-20 04:09:05+00:00,Tomorrow history will be made. Tonight was for...,Mike_Pence
3594,2017-01-20 02:36:58+00:00,"So very proud of my wife, Karen. She was an am...",Mike_Pence

In [34]:
cruzl1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:tedcruz since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    cruzl1.append([tweet.date, tweet.content, tweet.user.username])
gop6 = pd.DataFrame(cruzl1, columns=['Date', 'Tweet', 'Username'])

gop6

,Date,Tweet,Username
0,2022-11-18 16:56:48+00:00,"MAJOR VICTORY, Nancy Pelosi Is No Longer The S...",tedcruz
1,2022-11-18 15:15:29+00:00,Hunter Biden's Burisma qualifications:\n\n❌ Di...,tedcruz
2,2022-11-18 09:58:18+00:00,Leftists are terrified of having to defend the...,tedcruz
3,2022-11-17 23:53:41+00:00,"Joe Biden has turned the DOJ, FBI, and IRS int...",tedcruz
4,2022-11-17 20:10:26+00:00,"5,000,000 illegal aliens have crossed the bord...",tedcruz
...,...,...,...
9992,2017-01-24 19:16:15+00:00,Disgraceful. https://t.co/DkxJlh8M4Q,tedcruz
9993,2017-01-23 20:05:58+00:00,"#CruzCrew, TONIGHT at 8 pm CT -- don't miss my...",tedcruz
9994,2017-01-23 14:55:34+00:00,Join the fight for #TermLimits: https://t.co/I...,tedcruz
9995,2017-01-23 14:55:04+00:00,Support for term limits cuts across party line...,tedcruz
9996,2017-01-20 18:00:32+00:00,Scenes from the #Inauguration! https://t.co/ka...,tedcruz

In [35]:
cruzl2 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenTedCruz since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    cruzl2.append([tweet.date, tweet.content, tweet.user.username])
gop7 = pd.DataFrame(cruzl2, columns=['Date', 'Tweet', 'Username'])

gop7

,Date,Tweet,Username
0,2022-11-18 16:45:54+00:00,Republicans need to fight:\n \n✅ For the membe...,SenTedCruz
1,2022-11-18 14:43:39+00:00,RELEASE: Senate Passes Cruz-Cornyn Resolution ...,SenTedCruz
2,2022-11-17 22:32:32+00:00,15 million Americans who bought gifts last yea...,SenTedCruz
3,2022-11-17 22:21:17+00:00,Barack Obama and Joe Biden turned the Departme...,SenTedCruz
4,2022-11-17 21:32:23+00:00,RELEASE: Sen. Cruz Wins World Series Wager wit...,SenTedCruz
...,...,...,...
11159,2017-01-23 20:52:19+00:00,Joining Mark Levin TONIGHT at 8pm CT on @Levin...,SenTedCruz
11160,2017-01-20 23:51:34+00:00,Congratulations to Gen. Mattis on his confirma...,SenTedCruz
11161,2017-01-20 18:50:14+00:00,Scenes from the #Inauguration! https://t.co/a7...,SenTedCruz
11162,2017-01-20 11:53:04+00:00,Joining @TODAYshow LIVE this morning at 7:40am...,SenTedCruz
11163,2017-01-20 10:32:03+00:00,Joining @MariaBartiromo @MorningsMaria on @Fox...,SenTedCruz

In [36]:
rubiol1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:marcorubio since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    rubiol1.append([tweet.date, tweet.content, tweet.user.username])
gop8 = pd.DataFrame(rubiol1, columns=['Date', 'Tweet', 'Username'])

gop8

,Date,Tweet,Username
0,2022-11-16 13:52:58+00:00,Today I will try to postpone the GOP Senate le...,marcorubio
1,2022-11-15 04:30:38+00:00,If the @MiamiDadeBCC approves a proposed indus...,marcorubio
2,2022-11-14 18:25:42+00:00,We should not have a Senate GOP leadership vot...,marcorubio
3,2022-11-11 20:27:35+00:00,Today we honor all those who serve &amp; serve...,marcorubio
4,2022-11-11 16:54:40+00:00,The Senate GOP leadership vote next week shoul...,marcorubio
...,...,...,...
9003,2017-01-27 18:32:37+00:00,Proud to support the thousands who #MarchforLi...,marcorubio
9004,2017-01-25 17:12:06+00:00,Incredibly proud for my friend @nikkihaley htt...,marcorubio
9005,2017-01-20 12:27:29+00:00,We also thank @BarackObama @MichelleObama for ...,marcorubio
9006,2017-01-20 12:23:47+00:00,Today Jeanette &amp; I pray for @realDonaldTru...,marcorubio
9007,2017-01-20 00:33:02+00:00,@MomToBea @GloryCorinne I have serious concern...,marcorubio

In [37]:
rubiol2 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenRubioPress since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    rubiol2.append([tweet.date, tweet.content, tweet.user.username])
gop9 = pd.DataFrame(rubiol2, columns=['Date', 'Tweet', 'Username'])

gop9

,Date,Tweet,Username
0,2022-11-18 16:44:18+00:00,"Russian dissident @navalny, who is serving a 9...",SenRubioPress
1,2022-11-17 22:14:56+00:00,Senator Rubio met with @MiamiLakesNews to disc...,SenRubioPress
2,2022-11-17 21:14:51+00:00,Sen. Rubio &amp; @SenBobCasey introduced the ...,SenRubioPress
3,2022-11-17 21:14:38+00:00,Sen. Rubio &amp; colleagues introduced the Res...,SenRubioPress
4,2022-11-17 18:12:48+00:00,The CCP is building a naval facility on #Cambo...,SenRubioPress
...,...,...,...
8471,2017-01-24 02:31:07+00:00,U.S. Senate passes Rubio-Nelson resolution hon...,SenRubioPress
8472,2017-01-24 00:36:25+00:00,.@RepMikePompeo is extraordinarily qualified t...,SenRubioPress
8473,2017-01-23 23:01:24+00:00,Got to know Heather Wilson well in 2012. She’s...,SenRubioPress
8474,2017-01-23 21:56:42+00:00,Congratulations to @AjitPaiFCC on being appoin...,SenRubioPress
8475,2017-01-23 18:53:50+00:00,US taxpayer $ should not be used to perform or...,SenRubioPress

In [38]:
mcconnelll1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:LeaderMcConnell since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    mcconnelll1.append([tweet.date, tweet.content, tweet.user.username])
gop10 = pd.DataFrame(mcconnelll1, columns=['Date', 'Tweet', 'Username'])

gop10

,Date,Tweet,Username
0,2022-11-17 16:24:13+00:00,"I’m proud of Senators Thune, Barrasso, Ernst, ...",LeaderMcConnell
1,2022-11-16 20:44:54+00:00,I'm honored that my Republican colleagues have...,LeaderMcConnell
2,2022-11-11 12:03:13+00:00,"Over the past 246 years, millions of brave Ame...",LeaderMcConnell
3,2022-11-03 02:20:45+00:00,President Biden is desperate to change the sub...,LeaderMcConnell
4,2022-10-30 17:15:59+00:00,Elaine and I are terribly saddened by the pass...,LeaderMcConnell
...,...,...,...
3157,2017-01-20 22:53:45+00:00,James Mattis has been confirmed by the #Senate...,LeaderMcConnell
3158,2017-01-20 17:00:19+00:00,Congratulations to @realDonaldTrump on becomin...,LeaderMcConnell
3159,2017-01-20 16:54:33+00:00,Congratulations to @mike_pence on becoming the...,LeaderMcConnell
3160,2017-01-20 16:52:56+00:00,"1st to be sworn will be our 48th VP, @mike_pen...",LeaderMcConnell
3161,2017-01-20 14:42:20+00:00,#Inauguration is about to get underway. Thank ...,LeaderMcConnell

In [39]:
mcconnelll2 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:McConnellPress since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    mcconnelll2.append([tweet.date, tweet.content, tweet.user.username])
gop11 = pd.DataFrame(mcconnelll2, columns=['Date', 'Tweet', 'Username'])

gop11

,Date,Tweet,Username
0,2022-11-17 21:55:23+00:00,.@LeaderMcConnell: We have impressive new Sena...,McConnellPress
1,2022-11-17 21:53:48+00:00,.@LeaderMcConnell delivered the following floo...,McConnellPress
2,2022-11-17 17:51:32+00:00,.@LeaderMcConnell: Republican House Majority I...,McConnellPress
3,2022-11-15 17:38:00+00:00,.@LeaderMcConnell Welcomes New Senators-Elect:...,McConnellPress
4,2022-11-14 22:16:10+00:00,.@LeaderMcConnell: A Divided America Agrees Th...,McConnellPress
...,...,...,...
5713,2017-01-24 18:17:36+00:00,.@SenateMajLdr McConnell statement on @POTUS e...,McConnellPress
5714,2017-01-24 00:00:02+00:00,"ICYMI - @SenateMajLdr weighs in on #Obamacare,...",McConnellPress
5715,2017-01-23 21:55:08+00:00,.@SenateMajLdr statement on @POTUS nominee for...,McConnellPress
5716,2017-01-23 20:09:51+00:00,".@SenateMajLdr: ""Americans are reeling after 8...",McConnellPress
5717,2017-01-23 19:30:04+00:00,National #SchoolChoice Week is underway w/even...,McConnellPress

In [40]:
gosarl1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepGosar since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    gosarl1.append([tweet.date, tweet.content, tweet.user.username])
gop13 = pd.DataFrame(gosarl1, columns=['Date', 'Tweet', 'Username'])

gop13

,Date,Tweet,Username
0,2022-11-18 16:41:19+00:00,@elonmusk @micsolana Thank you for shining a l...,RepGosar
1,2022-11-18 16:37:48+00:00,Overwhelming evidence would point that Joe Bid...,RepGosar
2,2022-11-17 21:58:15+00:00,@MrRWS45 Thank you! It's an honor to represent...,RepGosar
3,2022-11-17 21:49:48+00:00,I have voted against every single bill to fund...,RepGosar
4,2022-11-17 18:46:17+00:00,"An unprecedented 230,678 illegal aliens crosse...",RepGosar
...,...,...,...
4742,2017-01-23 05:08:04+00:00,@CVPDAZ I'm always game for spreading some che...,RepGosar
4743,2017-01-22 13:09:09+00:00,Congratulations to my friend .@CarlyleBegay! E...,RepGosar
4744,2017-01-20 19:02:38+00:00,VICTORY! Arizonans Successful in Effort to Blo...,RepGosar
4745,2017-01-20 17:01:28+00:00,President Donald J. Trump,RepGosar
4746,2017-01-20 16:01:24+00:00,Excited for the swearing-in of our 45th Presid...,RepGosar

In [41]:
gosarl2 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:DrPaulGosar since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    gosarl2.append([tweet.date, tweet.content, tweet.user.username])
gop14 = pd.DataFrame(gosarl2, columns=['Date', 'Tweet', 'Username'])

gop14

,Date,Tweet,Username
0,2022-11-18 14:21:17+00:00,It’s true. \n\nhttps://t.co/F0DiL1JpyZ,DrPaulGosar
1,2022-11-18 01:09:01+00:00,Congratulations to @electtomhorne on his victo...,DrPaulGosar
2,2022-11-16 20:22:25+00:00,No. And it’s not 11 million illegals. That’s...,DrPaulGosar
3,2022-11-16 18:21:03+00:00,I am proud to give my complete and total endor...,DrPaulGosar
4,2022-11-16 14:51:23+00:00,Absolutely this. https://t.co/bpRebsxdat,DrPaulGosar
...,...,...,...
3995,2017-06-10 14:03:07+00:00,I enjoyed my interview with @JamesTHarris. Gre...,DrPaulGosar
3996,2017-06-08 16:28:24+00:00,Great article on how Congress can restore its ...,DrPaulGosar
3997,2017-06-08 14:46:36+00:00,A proud history and many reasons to celebrate....,DrPaulGosar
3998,2017-06-08 13:54:11+00:00,One of my proudest moments was getting the Sou...,DrPaulGosar
3999,2017-06-07 10:24:29+00:00,"On May 22, 2014 I voted against spying on Amer...",DrPaulGosar

In [42]:
greenel1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepMTG since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    greenel1.append([tweet.date, tweet.content, tweet.user.username])
gop15 = pd.DataFrame(greenel1, columns=['Date', 'Tweet', 'Username'])

gop15

,Date,Tweet,Username
0,2022-11-18 16:41:21+00:00,For how many years has the American people’s m...,RepMTG
1,2022-11-18 02:25:45+00:00,Great to see Kyle Rittenhouse tonight. A true ...,RepMTG
2,2022-11-18 02:05:51+00:00,We must audit every American taxpayer dollar s...,RepMTG
3,2022-11-17 22:47:06+00:00,That’s the fentanyl seized by @CBP at closely ...,RepMTG
4,2022-11-17 19:41:31+00:00,TODAY 4:00PM\nPress Conference\nHouse Studio A...,RepMTG
...,...,...,...
2124,2021-01-04 01:51:28+00:00,Day One in the books.\n\nTeam Greene is FIRED ...,RepMTG
2125,2021-01-03 22:20:02+00:00,Congress is in session and @SpeakerPelosi chan...,RepMTG
2126,2021-01-03 20:03:29+00:00,Just proudly voted to REMOVE @SpeakerPelosi fr...,RepMTG
2127,2021-01-03 17:00:31+00:00,I’m here to fight for my children’s future and...,RepMTG
2128,2021-01-03 01:08:01+00:00,I’m honored to represent the great people of G...,RepMTG

In [43]:
cottonl1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenTomCotton since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    cottonl1.append([tweet.date, tweet.content, tweet.user.username])
gop17 = pd.DataFrame(cottonl1, columns=['Date', 'Tweet', 'Username'])

gop17

,Date,Tweet,Username
0,2022-11-18 14:52:43+00:00,The DC city council's vote to lower sentences ...,SenTomCotton
1,2022-11-17 12:46:36+00:00,We must address the immigration policies that ...,SenTomCotton
2,2022-11-15 23:00:44+00:00,We must end China’s Permanent Normal Trade Rel...,SenTomCotton
3,2022-11-15 14:28:16+00:00,Our ambassador’s job is to promote America’s i...,SenTomCotton
4,2022-11-14 17:26:33+00:00,Joe Biden has again failed to address or even ...,SenTomCotton
...,...,...,...
4958,2017-01-20 15:43:28+00:00,This morning I joined @Morning_Joe to discuss ...,SenTomCotton
4959,2017-01-20 14:27:56+00:00,Today we will witness history and a hallmark o...,SenTomCotton
4960,2017-01-20 12:39:50+00:00,Talking #InaugurationDay with @hughhewitt and ...,SenTomCotton
4961,2017-01-20 11:59:34+00:00,Joining the @hughhewitt radio show shortly. Tu...,SenTomCotton
4962,2017-01-20 11:13:51+00:00,Joining @Morning_Joe shortly. Tune in!,SenTomCotton

In [44]:
cottonl2 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:TomCottonAR since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    cottonl2.append([tweet.date, tweet.content, tweet.user.username])
gop18 = pd.DataFrame(cottonl2, columns=['Date', 'Tweet', 'Username'])

gop18

,Date,Tweet,Username
0,2022-11-17 21:20:35+00:00,"If you have Tik Tok on your phone, delete it. ...",TomCottonAR
1,2022-11-17 15:24:54+00:00,Lenient policies will make the crime wave wors...,TomCottonAR
2,2022-11-17 14:55:57+00:00,Democrats benefitted from the FTX scam to the ...,TomCottonAR
3,2022-11-15 00:08:28+00:00,There's a huge difference between 49 and 50 Se...,TomCottonAR
4,2022-11-14 16:11:14+00:00,Thank you. https://t.co/Ne5taDq9mW,TomCottonAR
...,...,...,...
3975,2017-01-26 17:46:06+00:00,Workers support @realDonaldTrump no matter wha...,TomCottonAR
3976,2017-01-24 12:56:46+00:00,Whether you're a new cabinet secretary or a ne...,TomCottonAR
3977,2017-01-24 02:42:23+00:00,A great night for America &amp; the CIA https:...,TomCottonAR
3978,2017-01-21 20:44:57+00:00,Strong statement of support by @realDonaldTrum...,TomCottonAR
3979,2017-01-20 03:59:40+00:00,"Donald Trump &amp; Andrew Jackson, biggest win...",TomCottonAR

In [45]:
scottl1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenRickScott since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    scottl1.append([tweet.date, tweet.content, tweet.user.username])
gop19 = pd.DataFrame(scottl1, columns=['Date', 'Tweet', 'Username'])

gop19

,Date,Tweet,Username
0,2022-11-18 17:20:33+00:00,Israel will always be a great ally and friend ...,SenRickScott
1,2022-11-18 16:39:27+00:00,"Congrats to my friend and a great patriot, @En...",SenRickScott
2,2022-11-18 14:13:00+00:00,Families shouldn't have to break the bank to s...,SenRickScott
3,2022-11-18 00:11:00+00:00,Feeding your family is more expensive this Tha...,SenRickScott
4,2022-11-17 23:13:00+00:00,The United States CANNOT allow the Chinese Com...,SenRickScott
...,...,...,...
11024,2017-01-20 16:54:42+00:00,At the inauguration with @FLAnnScott about to ...,SenRickScott
11025,2017-01-20 15:45:01+00:00,The @realDonaldTrump and @mike_pence administr...,SenRickScott
11026,2017-01-20 15:33:40+00:00,"More than 237,000 new jobs were created for fa...",SenRickScott
11027,2017-01-20 15:19:42+00:00,"Today, we proudly welcome a new president @rea...",SenRickScott
11028,2017-01-20 14:43:31+00:00,I’m excited to watch my friend @realDonaldTrum...,SenRickScott

In [46]:
scottl2 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:ScottforFlorida since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    scottl2.append([tweet.date, tweet.content, tweet.user.username])
gop20 = pd.DataFrame(scottl2, columns=['Date', 'Tweet', 'Username'])

gop20

,Date,Tweet,Username
0,2022-11-15 16:47:06+00:00,🚨Joining @DavidWestin on @BloombergTV at 12:10...,ScottforFlorida
1,2022-11-14 21:18:38+00:00,🚨Joining @larry_kudlow at 4:30PM on @FoxBusine...,ScottforFlorida
2,2022-11-14 19:37:53+00:00,Another packed event for @HerschelWalker this ...,ScottforFlorida
3,2022-11-14 12:55:50+00:00,So much energy across Georgia for change. \n\n...,ScottforFlorida
4,2022-11-13 22:25:57+00:00,Incredible crowd for @HerschelWalker today in ...,ScottforFlorida
...,...,...,...
2268,2017-02-02 17:23:58+00:00,Creating more jobs in Florida is the most impo...,ScottforFlorida
2269,2017-01-27 18:15:19+00:00,"Success is spending less on welfare, less on f...",ScottforFlorida
2270,2017-01-25 15:24:28+00:00,Cutting taxes helps generate economic activity...,ScottforFlorida
2271,2017-01-23 23:16:01+00:00,Results from our survey: As has been the case ...,ScottforFlorida
2272,2017-01-23 21:55:38+00:00,We just completed a statewide survey wanted to...,ScottforFlorida

In [47]:
jordanl1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:Jim_Jordan since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    jordanl1.append([tweet.date, tweet.content, tweet.user.username])
gop21 = pd.DataFrame(jordanl1, columns=['Date', 'Tweet', 'Username'])

gop21

,Date,Tweet,Username
0,2022-11-18 17:18:23+00:00,NEXT. Judiciary Republicans Reveal First Targe...,Jim_Jordan
1,2022-11-18 17:10:38+00:00,NEXT. Judiciary Republicans seek testimony fro...,Jim_Jordan
2,2022-11-18 16:34:48+00:00,Up next. Republicans on House Judiciary panel ...,Jim_Jordan
3,2022-11-18 14:47:47+00:00,Coming up on @AmericaNewsroom at the top of th...,Jim_Jordan
4,2022-11-18 12:47:22+00:00,It begins. https://t.co/yQ36ADEHhu,Jim_Jordan
...,...,...,...
3731,2017-01-27 17:41:32+00:00,Thanks @SenatorRisch for your efforts!,Jim_Jordan
3732,2017-01-27 16:40:35+00:00,"Any #Ohio #MarchForLife attendees, join my sta...",Jim_Jordan
3733,2017-01-25 21:19:19+00:00,These actions will also benefit millions who w...,Jim_Jordan
3734,2017-01-25 21:17:46+00:00,.@POTUS Trump actions today are the first step...,Jim_Jordan
3735,2017-01-20 18:13:34+00:00,Thoughts and prayers with West Liberty High Sc...,Jim_Jordan

In [48]:
boebertl1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:laurenboebert since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    boebertl1.append([tweet.date, tweet.content, tweet.user.username])
gop22 = pd.DataFrame(boebertl1, columns=['Date', 'Tweet', 'Username'])

gop22

,Date,Tweet,Username
0,2022-11-18 13:01:12+00:00,.@ThisIsKyleR’s story is a prime example of wh...,laurenboebert
1,2022-11-18 03:17:55+00:00,We won! \n\nI am so thankful for all of your s...,laurenboebert
2,2022-11-17 19:20:58+00:00,Let the accountability begin! https://t.co/CqP...,laurenboebert
3,2022-11-17 18:47:46+00:00,This is two years overdue and this is one of m...,laurenboebert
4,2022-11-17 17:31:37+00:00,The Pelosi era is over.\n\nGood riddance!,laurenboebert
...,...,...,...
6217,2019-12-09 17:31:27+00:00,It is for FREEDOM! There is a battle for the h...,laurenboebert
6218,2019-12-09 13:09:05+00:00,Colorado’s 3rd Congressional District. You can...,laurenboebert
6219,2019-12-09 12:51:11+00:00,Join our movement! Take action with us at http...,laurenboebert
6220,2019-12-08 22:10:49+00:00,There’s a battle for the heart and soul of our...,laurenboebert
6221,2019-12-08 21:57:00+00:00,Thank you @evanmtodd #ColumbineSurvivor https:...,laurenboebert

In [49]:
boebertl2 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepBoebert since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    boebertl2.append([tweet.date, tweet.content, tweet.user.username])
gop23 = pd.DataFrame(boebertl2, columns=['Date', 'Tweet', 'Username'])

gop23

,Date,Tweet,Username
0,2022-11-16 15:01:55+00:00,"Nancy Pelosi as Speaker? No thanks, I’ll pass....",RepBoebert
1,2022-11-11 18:05:25+00:00,Thank you to all who have served. Because of y...,RepBoebert
2,2022-11-07 20:44:52+00:00,We celebrated the vibrant life of Betty Oglesb...,RepBoebert
3,2022-11-06 22:41:26+00:00,We flew the flag one last time for Purple Hear...,RepBoebert
4,2022-11-04 21:08:59+00:00,I was honored to work with Ute Mountain Ute Tr...,RepBoebert
...,...,...,...
1334,2021-01-04 01:23:03+00:00,I’m proud to take the oath of office to repres...,RepBoebert
1335,2021-01-04 00:37:46+00:00,The Second Amendment is more important now tha...,RepBoebert
1336,2021-01-03 19:09:52+00:00,I’m on my way to cast one of my first votes in...,RepBoebert
1337,2021-01-03 17:30:54+00:00,The fight for liberty and freedom never stops....,RepBoebert
1338,2021-01-03 14:20:39+00:00,"Today, I will proudly take the oath of office ...",RepBoebert

In [50]:
gopl1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:GOP since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    gopl1.append([tweet.date, tweet.content, tweet.user.username])
gop24 = pd.DataFrame(gopl1, columns=['Date', 'Tweet', 'Username'])

gop24

,Date,Tweet,Username
0,2022-11-17 21:26:11+00:00,.@TedCruz emphasizes how crucial electing @Her...,GOP
1,2022-11-17 17:15:01+00:00,🚨Republicans secure majority in House of Repre...,GOP
2,2022-11-17 00:59:40+00:00,Republicans have officially flipped the house!...,GOP
3,2022-11-16 21:42:05+00:00,GOP is on the ground and ready to help get Her...,GOP
4,2022-11-16 19:31:00+00:00,Georgia - there are 20 days until the runoff. ...,GOP
...,...,...,...
19282,2017-01-20 23:28:44+00:00,Congratulations to our newest Secretary of Hom...,GOP
19283,2017-01-20 22:36:08+00:00,Congratulations to our newest Secretary of Def...,GOP
19284,2017-01-20 17:00:37+00:00,The 45th President of the United States of Ame...,GOP
19285,2017-01-20 16:54:43+00:00,The 48th Vice President of the United States o...,GOP
19286,2017-01-20 14:12:02+00:00,Today is the day we make history. Let's #MakeA...,GOP

#### Assembling the dataframe

In [111]:
con_reps_tweets_list = [gop1, gop2, gop3, gop4, gop5, gop6, gop7, gop8, gop9, gop10,
                        gop11, gop13, gop14, gop15, gop17, gop18, gop19, gop20, gop21, gop22, gop23, gop24]
con_reps_tweets = pd.concat(con_reps_tweets_list)

In [112]:
con_reps_tweets.head()

,Date,Tweet,Username
0,2018-06-01 17:28:09+00:00,Record JOBS DAY!! 223K jobs added. Unemploymen...,POTUS45
1,2018-01-31 06:18:32+00:00,THANK YOU @SteveScalise!\n#SOTU #TeamScalise h...,POTUS45
2,2017-12-01 21:32:52+00:00,Thank you @SecretaryZinke! https://t.co/r84hnW...,POTUS45
3,2017-11-29 20:15:28+00:00,Just arrived in Missouri. Heading to St. Charl...,POTUS45
4,2017-11-01 17:04:25+00:00,Opening remarks at this afternoons @Cabinet me...,POTUS45

In [113]:
print(con_reps_tweets.shape)
print(con_reps_tweets.dtypes)
print(con_reps_tweets.isna().sum())

(130622, 3)
Date        datetime64[ns, UTC]
Tweet                    object
Username                 object
dtype: object
Date        0
Tweet       0
Username    0
dtype: int64

In [114]:
con_reps_tweets = con_reps_tweets.sort_values(by='Date', ascending = True)
con_reps_tweets = con_reps_tweets.reset_index(drop = False)
con_reps_tweets = con_reps_tweets.drop(columns=['index'])
con_reps_tweets.Date = pd.to_datetime(con_reps_tweets['Date'])
con_reps_tweets.Date = con_reps_tweets.Date.dt.strftime("%m/%d/%Y")
con_reps_tweets.Date = pd.to_datetime(con_reps_tweets['Date'])
con_reps_tweets['Political_Score'] = 0
con_reps_tweets['Democrat_Score'] = np.nan
con_reps_tweets['Republican_Score'] = 1
con_reps_tweets

,Date,Tweet,Username,Political_Score,Democrat_Score,Republican_Score
0,2017-01-20,@MomToBea @GloryCorinne I have serious concern...,marcorubio,0,NaN,1
1,2017-01-20,#Repost foxnews\n・・・\nViewers enjoyed a specta...,DonaldJTrumpJr,0,NaN,1
2,2017-01-20,#Repost @ivankatrump\n・・・\nOn the steps of the...,DonaldJTrumpJr,0,NaN,1
3,2017-01-20,"So very proud of my wife, Karen. She was an am...",Mike_Pence,0,NaN,1
4,2017-01-20,Couldn't resist breaking out the camera for th...,DonaldJTrumpJr,0,NaN,1
...,...,...,...,...,...,...
130617,2022-11-18,Republicans need to fight:\n \n✅ For the membe...,SenTedCruz,0,NaN,1
130618,2022-11-18,"MAJOR VICTORY, Nancy Pelosi Is No Longer The S...",tedcruz,0,NaN,1
130619,2022-11-18,NEXT. Judiciary Republicans seek testimony fro...,Jim_Jordan,0,NaN,1
130620,2022-11-18,NEXT. Judiciary Republicans Reveal First Targe...,Jim_Jordan,0,NaN,1
130621,2022-11-18,Israel will always be a great ally and friend ...,SenRickScott,0,NaN,1

In [115]:
# Sanity Check
print(con_reps_tweets.shape)
print(con_reps_tweets.dtypes)
print(con_reps_tweets.isna().sum())

(130622, 6)
Date                datetime64[ns]
Tweet                       object
Username                    object
Political_Score              int64
Democrat_Score             float64
Republican_Score             int64
dtype: object
Date                     0
Tweet                    0
Username                 0
Political_Score          0
Democrat_Score      130622
Republican_Score         0
dtype: int64

### Moderate Democrats

In [61]:
pelosil1 = []
maxTweets = 20000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SpeakerPelosi since:2017-01-03 lang:en').get_items()):
    if i == maxTweets:
        break
    pelosil1.append([tweet.date, tweet.content, tweet.user.username])
dems5 = pd.DataFrame(pelosil1, columns=['Date', 'Tweet', 'Username'])

dems5

,Date,Tweet,Username
0,2022-11-17 23:35:03+00:00,"Now, the hour has come for a new generation to...",SpeakerPelosi
1,2022-11-17 23:35:03+00:00,"Scripture teaches us that, for everything, the...",SpeakerPelosi
2,2022-11-17 18:28:47+00:00,Thank you all — and may God continue to bless ...,SpeakerPelosi
3,2022-11-17 16:59:19+00:00,Join me as I make a major announcement on the ...,SpeakerPelosi
4,2022-11-17 03:49:24+00:00,At least three critical states are still count...,SpeakerPelosi
...,...,...,...
7671,2017-01-03 19:07:50+00:00,We open this Congress by paying tribute to tho...,SpeakerPelosi
7672,2017-01-03 18:56:21+00:00,"Watch LIVE as I address the 115th Congress, un...",SpeakerPelosi
7673,2017-01-03 17:54:21+00:00,GOP’s reversal of plans to destroy the OCE wil...,SpeakerPelosi
7674,2017-01-03 14:03:10+00:00,Working families expect us to fight for their ...,SpeakerPelosi
7675,2017-01-03 01:11:15+00:00,Tmrw @HouseGOP will destroy the office that pr...,SpeakerPelosi

In [62]:
pelosil2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:TeamPelosi since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    pelosil2.append([tweet.date, tweet.content, tweet.user.username])
dems6 = pd.DataFrame(pelosil2, columns=['Date', 'Tweet', 'Username'])

dems6

,Date,Tweet,Username
0,2022-11-17 22:30:21+00:00,Thank you San Francisco! Of all the honors I h...,TeamPelosi
1,2022-11-17 04:30:00+00:00,Democratic Victory: Congratulations to Congres...,TeamPelosi
2,2022-11-17 03:30:00+00:00,Democratic Victory: Congratulations to Congres...,TeamPelosi
3,2022-11-17 01:50:00+00:00,"Congratulations, Madam Mayor-Elect @KarenBassL...",TeamPelosi
4,2022-11-16 23:35:37+00:00,Democratic Victory: Congratulations to Congres...,TeamPelosi
...,...,...,...
5120,2017-01-21 23:30:03+00:00,Yesterday was for Trump's rhetoric. Today is f...,TeamPelosi
5121,2017-01-21 19:37:54+00:00,Thank you #WomensMarch organizers for galvaniz...,TeamPelosi
5122,2017-01-21 17:48:06+00:00,Nancy and the team are marching today in the @...,TeamPelosi
5123,2017-01-20 23:28:45+00:00,RT if you'll join the fight to #ProtectOurCare...,TeamPelosi
5124,2017-01-20 17:46:24+00:00,RT to thank President Obama for 8 years of pro...,TeamPelosi

In [63]:
jonesl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:DougJones since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    jonesl1.append([tweet.date, tweet.content, tweet.user.username])
m_dems1 = pd.DataFrame(jonesl1, columns=['Date', 'Tweet', 'Username'])

m_dems1

,Date,Tweet,Username
0,2022-11-16 14:14:18+00:00,Despite the talk of the demise of Trump &amp; ...,DougJones
1,2022-11-15 14:36:06+00:00,Fantastic rundown of the many reasons why vote...,DougJones
2,2022-11-14 01:25:53+00:00,Big week folks. Big wins but we gotta keep go...,DougJones
3,2022-11-13 17:51:44+00:00,"Folks we are all feeling good, really good. B...",DougJones
4,2022-11-13 02:26:24+00:00,Hell yes!! Thank you Nevada!! https://t.co/GdD...,DougJones
...,...,...,...
1752,2017-08-13 12:18:56+00:00,"We must stop using the term ""white nationalist...",DougJones
1753,2017-07-15 02:18:53+00:00,Thanks Cathy!! Let's keep our momentum going!,DougJones
1754,2017-06-17 16:11:28+00:00,Join the movement! Birmingham lawyer and forme...,DougJones
1755,2017-05-18 12:21:28+00:00,Email referencing monkeys angers black Alabama...,DougJones
1756,2017-02-07 21:43:48+00:00,New Blog Post: Historic Birmingham: A Legacy o...,DougJones

In [64]:
jonesl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenDougJones since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    jonesl2.append([tweet.date, tweet.content, tweet.user.username])
m_dems2 = pd.DataFrame(jonesl2, columns=['Date', 'Tweet', 'Username'])

m_dems2

,Date,Tweet,Username
0,2021-01-01 19:32:26+00:00,"With tremendous gratitude and humility, thank ...",SenDougJones
1,2021-01-01 19:32:26+00:00,I encourage the 117th Congress to use the oppo...,SenDougJones
2,2021-01-01 19:32:26+00:00,"Despite the challenges we’ve faced, I am proud...",SenDougJones
3,2021-01-01 19:32:26+00:00,I’ve fought for important policies like Medica...,SenDougJones
4,2021-01-01 19:32:25+00:00,"Over the past few years, I have had the opport...",SenDougJones
...,...,...,...
1440,2018-01-09 01:23:59+00:00,"Had to be in Washington for Senate business, b...",SenDougJones
1441,2018-01-08 22:03:22+00:00,"More than 150,000 children in Alabama are at r...",SenDougJones
1442,2018-01-05 21:53:25+00:00,"""It is time to come together and rebuild the t...",SenDougJones
1443,2018-01-05 18:29:28+00:00,Shout out to @Outdoor_Alabama for providing th...,SenDougJones
1444,2018-01-05 18:18:46+00:00,Hello Twitter! Welcome to the official account...,SenDougJones

In [65]:
manchinl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:JoeManchinWV since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    manchinl1.append([tweet.date, tweet.content, tweet.user.username])
m_dems3 = pd.DataFrame(manchinl1, columns=['Date', 'Tweet', 'Username'])

m_dems3

,Date,Tweet,Username
0,2018-11-07 02:12:12+00:00,"Thank you, West Virginia! https://t.co/0ZE0zz6LBn",JoeManchinWV
1,2018-11-06 20:39:40+00:00,Will you vote? No one should stay home on #Ele...,JoeManchinWV
2,2018-11-06 16:55:40+00:00,West Virginia wants Joe! Get out and vote for ...,JoeManchinWV
3,2018-11-06 16:23:16+00:00,The polls are open until 7:30PM tonight! This ...,JoeManchinWV
4,2018-11-06 15:54:01+00:00,Thank you to all of the dedicated volunteers k...,JoeManchinWV
...,...,...,...
543,2017-09-15 13:03:38+00:00,After my recent visit to @WhiteHouse I was ins...,JoeManchinWV
544,2017-08-18 19:29:32+00:00,Having a great time seeing old and new friends...,JoeManchinWV
545,2017-08-18 16:25:55+00:00,"At the 93rd State Fair of West Virginia, one o...",JoeManchinWV
546,2017-07-08 18:54:54+00:00,So honored to be joined today by a West Virgin...,JoeManchinWV
547,2017-07-08 14:33:03+00:00,Today we ride to honor West Virginia's Gold St...,JoeManchinWV

In [66]:
manchinl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:Sen_JoeManchin since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    manchinl2.append([tweet.date, tweet.content, tweet.user.username])
m_dems4 = pd.DataFrame(manchinl2, columns=['Date', 'Tweet', 'Username'])

m_dems4

,Date,Tweet,Username
0,2022-11-17 13:01:00+00:00,"On this National Rural Health Day, we celebrat...",Sen_JoeManchin
1,2022-11-16 21:58:02+00:00,Giving back to our communities is part of who ...,Sen_JoeManchin
2,2022-11-15 17:57:11+00:00,"Over the next decade, #WV will continue to see...",Sen_JoeManchin
3,2022-11-15 17:57:10+00:00,"One year ago, @POTUS signed the historic #Bipa...",Sen_JoeManchin
4,2022-11-14 21:46:14+00:00,"#ICYMI: The Kroger in Gassaway, WV will NOT be...",Sen_JoeManchin
...,...,...,...
4770,2017-01-27 19:22:01+00:00,Congratulations to the first @MinedMinds gradu...,Sen_JoeManchin
4771,2017-01-25 14:15:01+00:00,Glad to join @MClyburnFCC on this op-ed and to...,Sen_JoeManchin
4772,2017-01-25 02:45:02+00:00,What a great night to be a Mountaineer! Way to...,Sen_JoeManchin
4773,2017-01-20 16:51:01+00:00,I'm excited to be with my colleagues &amp; fel...,Sen_JoeManchin
4774,2017-01-20 12:30:05+00:00,Over the last few days my office has been full...,Sen_JoeManchin

In [67]:
testerl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenatorTester since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    testerl1.append([tweet.date, tweet.content, tweet.user.username])
m_dems5 = pd.DataFrame(testerl1, columns=['Date', 'Tweet', 'Username'])

m_dems5

,Date,Tweet,Username
0,2022-11-17 23:33:40+00:00,"Look, I've lived my whole life on a farm 12 mi...",SenatorTester
1,2022-11-17 22:22:13+00:00,The inaugural meeting of the Senate Big Boys C...,SenatorTester
2,2022-11-17 21:11:39+00:00,The Billings Head Start crew does a phenomenal...,SenatorTester
3,2022-11-17 20:19:17+00:00,Enjoyed getting to know Paul and Terri Hayden ...,SenatorTester
4,2022-11-17 18:53:13+00:00,This news out of Fort Harrison today is deeply...,SenatorTester
...,...,...,...
4153,2017-01-21 22:07:07+00:00,This week I thanked MT-native &amp; NASA Admin...,SenatorTester
4154,2017-01-21 18:20:01+00:00,Today women are gathering in Montana &amp; all...,SenatorTester
4155,2017-01-21 00:06:52+00:00,I'll work with Secretaries Mattis &amp; Kelly ...,SenatorTester
4156,2017-01-20 17:09:20+00:00,No matter who you voted for or where you think...,SenatorTester
4157,2017-01-20 00:32:57+00:00,"After meeting with Ms. DeVos, seeing her heari...",SenatorTester

In [68]:
testerl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:jontester since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    testerl2.append([tweet.date, tweet.content, tweet.user.username])
m_dems6 = pd.DataFrame(testerl2, columns=['Date', 'Tweet', 'Username'])

m_dems6

,Date,Tweet,Username
0,2022-11-08 20:44:50+00:00,Today is Election Day. People have fought and ...,jontester
1,2022-11-07 20:11:11+00:00,Folks in Bozeman are energized and eager to el...,jontester
2,2022-11-05 16:26:09+00:00,GOTV on the Hi-Line. I’ll tell you what Havre ...,jontester
3,2022-11-04 15:58:37+00:00,Getting out the vote in Missoula! Have you vot...,jontester
4,2022-11-03 16:11:49+00:00,I’m proud to support Audrey Cromwell for Galla...,jontester
...,...,...,...
1328,2017-02-03 03:08:54+00:00,We must keep working hard to ensure Montana #v...,jontester
1329,2017-02-01 19:47:15+00:00,I’ve heard from a lot of Montanans opposing Pr...,jontester
1330,2017-02-01 02:14:51+00:00,Submit your concerns &amp; questions about Jud...,jontester
1331,2017-01-25 17:00:05+00:00,#Women should have the freedom to make their o...,jontester
1332,2017-01-21 19:16:51+00:00,To the women of MT: I'm with you! Sharla &amp;...,jontester

In [69]:
kellyl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenMarkKelly since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    kellyl1.append([tweet.date, tweet.content, tweet.user.username])
m_dems7 = pd.DataFrame(kellyl1, columns=['Date', 'Tweet', 'Username'])

m_dems7

,Date,Tweet,Username
0,2022-11-17 22:51:15+00:00,"Prop 308 was approved by Arizona voters, givin...",SenMarkKelly
1,2022-11-16 23:51:29+00:00,The right to marry who you love is a fundament...,SenMarkKelly
2,2022-11-16 17:27:24+00:00,"Because of the passage of our CHIPS Act, Apple...",SenMarkKelly
3,2022-11-15 20:16:35+00:00,"This Native American Heritage Month, we honor ...",SenMarkKelly
4,2022-11-11 17:13:56+00:00,"Today and every day, veterans deserve our grat...",SenMarkKelly
...,...,...,...
1280,2020-12-06 18:46:33+00:00,This week I stood on the Senate floor and took...,SenMarkKelly
1281,2020-12-06 01:29:39+00:00,Excited to announce that Valley Metro Light Ra...,SenMarkKelly
1282,2020-12-05 17:17:48+00:00,If we're going to fix what's broken in Washing...,SenMarkKelly
1283,2020-12-02 20:52:28+00:00,"It’s time to restore science, data, and facts ...",SenMarkKelly
1284,2020-12-02 16:33:21+00:00,Today I am honored to be sworn into the Senate...,SenMarkKelly

In [70]:
kellyl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:CaptMarkKelly since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    kellyl2.append([tweet.date, tweet.content, tweet.user.username])
m_dems8 = pd.DataFrame(kellyl2, columns=['Date', 'Tweet', 'Username'])

m_dems8

,Date,Tweet,Username
0,2022-11-17 01:37:26+00:00,This mission also includes a satellite from @A...,CaptMarkKelly
1,2022-11-17 01:35:44+00:00,Congrats to everyone at NASA on the successful...,CaptMarkKelly
2,2022-11-16 18:42:13+00:00,I’m honored that Arizonans have entrusted me t...,CaptMarkKelly
3,2022-11-15 02:25:15+00:00,"Congratulations to Arizona’s next Governor, @k...",CaptMarkKelly
4,2022-11-14 21:55:50+00:00,Thank you to @TheRialtoTucson for hosting us o...,CaptMarkKelly
...,...,...,...
3423,2017-02-01 15:26:10+00:00,Remembering the 7 astronauts lost aboard Colum...,CaptMarkKelly
3424,2017-01-30 15:26:13+00:00,Congratulations to the cast of @HiddenFigures ...,CaptMarkKelly
3425,2017-01-28 15:54:16+00:00,"Thinking of the Challenger crew, who bravely l...",CaptMarkKelly
3426,2017-01-24 17:15:01+00:00,@GabbyGiffords &amp; I returned to public serv...,CaptMarkKelly
3427,2017-01-20 17:03:54+00:00,As a proud Navy vet who served presidents of b...,CaptMarkKelly

In [71]:
hassanl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenatorHassan since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    hassanl1.append([tweet.date, tweet.content, tweet.user.username])
m_dems9 = pd.DataFrame(hassanl1, columns=['Date', 'Tweet', 'Username'])

m_dems9

,Date,Tweet,Username
0,2022-11-18 15:57:59+00:00,In August: We passed our bipartisan PACT Act i...,SenatorHassan
1,2022-11-17 22:08:43+00:00,Al-Qaeda. Drug trafficking. Cyberattacks. \n \...,SenatorHassan
2,2022-11-17 15:51:26+00:00,WATCH: Our bipartisan PACT Act is delivering m...,SenatorHassan
3,2022-11-17 15:01:33+00:00,On the steps of the Senate: Sunapee Middle Hig...,SenatorHassan
4,2022-11-16 20:33:20+00:00,I just voted to advance the #RespectForMarriag...,SenatorHassan
...,...,...,...
8097,2017-01-22 22:37:51+00:00,Protecting a woman’s right to make her own hea...,SenatorHassan
8098,2017-01-21 16:05:08+00:00,I’m proud to join #WomensMarch in Concord. We ...,SenatorHassan
8099,2017-01-20 23:24:37+00:00,I look forward to working with General Kelly t...,SenatorHassan
8100,2017-01-20 23:05:06+00:00,I voted to confirm General Mattis as Secretary...,SenatorHassan
8101,2017-01-20 19:27:54+00:00,My statement on the inauguration of President ...,SenatorHassan

In [72]:
hassanl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:Maggie_Hassan since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    hassanl2.append([tweet.date, tweet.content, tweet.user.username])
m_dems10 = pd.DataFrame(hassanl2, columns=['Date', 'Tweet', 'Username'])

m_dems10

,Date,Tweet,Username
0,2022-11-17 21:45:22+00:00,Thank you @SteveShurtleff and David Cote for y...,Maggie_Hassan
1,2022-11-17 21:45:22+00:00,New Hampshire Democrats had win after win this...,Maggie_Hassan
2,2022-11-15 22:34:16+00:00,"Thank you @RepWilhelm, @AlexisSimpsonNH, and @...",Maggie_Hassan
3,2022-11-11 19:46:54+00:00,"This Veterans Day, I'm grateful to those who h...",Maggie_Hassan
4,2022-11-11 15:28:26+00:00,New Hampshire has a tradition of putting aside...,Maggie_Hassan
...,...,...,...
1552,2017-07-26 00:21:01+00:00,"""Congrats to @CavanaughForNH who will be a tru...",Maggie_Hassan
1553,2017-05-14 14:52:16+00:00,Thanks to the @cheshiredems for having me at y...,Maggie_Hassan
1554,2017-05-07 00:42:04+00:00,Congrats to the @rcdcnh on another successful ...,Maggie_Hassan
1555,2017-04-30 22:19:12+00:00,"""The resistance must persist"" - Senator Hassan...",Maggie_Hassan
1556,2017-02-25 21:11:05+00:00,"""I look forward to working with @DNC chair @To...",Maggie_Hassan

In [73]:
ricel1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:KathleenRice since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    ricel1.append([tweet.date, tweet.content, tweet.user.username])
m_dems11 = pd.DataFrame(ricel1, columns=['Date', 'Tweet', 'Username'])

m_dems11

,Date,Tweet,Username
0,2022-11-08 13:48:25+00:00,#ElectionDay is here and democracy is on the b...,KathleenRice
1,2022-11-04 20:25:35+00:00,You can vote early THIS WEEKEND in Nassau Coun...,KathleenRice
2,2022-11-03 18:32:39+00:00,Isn’t this how they run elections in Russia to...,KathleenRice
3,2022-10-28 15:27:32+00:00,Early voting starts TOMORROW 🗳️\n\nMake a plan...,KathleenRice
4,2022-08-23 18:28:23+00:00,"Pat Ryan is a combat veteran, business leader,...",KathleenRice
...,...,...,...
208,2017-09-13 02:19:26+00:00,CONGRATS @LauraCurran2017 &amp; @jackschnirman...,KathleenRice
209,2017-09-13 01:04:28+00:00,Polls are closed in Nassau County! Proud to ca...,KathleenRice
210,2017-06-05 21:40:53+00:00,"Proud to endorse @LauraCurran2017, the indepen...",KathleenRice
211,2017-05-24 03:28:23+00:00,Congrats @ChristineNY09 on a YUGE win in NYS A...,KathleenRice
212,2017-03-28 14:58:20+00:00,Happy 6th anniversary to @NewDEALLeaders! Exci...,KathleenRice

In [74]:
ricel2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepKathleenRice since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    ricel2.append([tweet.date, tweet.content, tweet.user.username])
m_dems12 = pd.DataFrame(ricel2, columns=['Date', 'Tweet', 'Username'])

m_dems12

,Date,Tweet,Username
0,2022-11-11 17:51:50+00:00,This #VeteransDay we honor all who have served...,RepKathleenRice
1,2022-11-08 12:25:40+00:00,#ElectionDay is here and polls are open until ...,RepKathleenRice
2,2022-11-05 11:46:00+00:00,TODAY and TOMORROW are the last days to vote i...,RepKathleenRice
3,2022-11-04 15:42:18+00:00,#NY04 Have you made a voting plan yet?\n\nEarl...,RepKathleenRice
4,2022-11-01 21:27:40+00:00,We received a record number of applications th...,RepKathleenRice
...,...,...,...
2947,2017-01-25 14:44:48+00:00,1st @HouseGOP vote under Pres. Trump wasn't to...,RepKathleenRice
2948,2017-01-25 14:35:46+00:00,Agree! https://t.co/rUIcQ2y6B2,RepKathleenRice
2949,2017-01-23 21:33:18+00:00,Expecting continued heavy rain &amp; high wind...,RepKathleenRice
2950,2017-01-23 18:15:47+00:00,Sat: #WomensMarch\nSun: 44th anniv. of #RoevWa...,RepKathleenRice
2951,2017-01-23 17:45:02+00:00,Learned this wknd that Bishop Frank White from...,RepKathleenRice

In [75]:
costal1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepJimCosta since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    costal1.append([tweet.date, tweet.content, tweet.user.username])
m_dems13 = pd.DataFrame(costal1, columns=['Date', 'Tweet', 'Username'])

m_dems13

,Date,Tweet,Username
0,2022-11-18 00:49:58+00:00,He is a members’ member and a role model for a...,RepJimCosta
1,2022-11-18 00:49:57+00:00,Congressman Steny Hoyer has been one of the mo...,RepJimCosta
2,2022-11-17 21:55:31+00:00,"As funding starts rolling out, I am proud to s...",RepJimCosta
3,2022-11-17 21:55:30+00:00,We are bringing manufacturing back to America!...,RepJimCosta
4,2022-11-17 21:20:37+00:00,"Madam Speaker always with class and grace, and...",RepJimCosta
...,...,...,...
3107,2017-02-08 20:22:50+00:00,.@CAFarmBureau thank you for all you do to adv...,RepJimCosta
3108,2017-02-06 23:23:06+00:00,"Welcome home, Eman! \nhttps://t.co/OveZ4VIuGQ",RepJimCosta
3109,2017-02-01 17:58:54+00:00,"After 6 yrs. of vetting, Eman, a 12 yr. old, w...",RepJimCosta
3110,2017-01-26 16:08:20+00:00,It's always great to be on @GreatDayKMPH w/ Ki...,RepJimCosta
3111,2017-01-25 22:17:53+00:00,Hard working #DACA recipients have made invalu...,RepJimCosta

In [76]:
murphyl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepStephMurphy since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    murphyl1.append([tweet.date, tweet.content, tweet.user.username])
m_dems14 = pd.DataFrame(murphyl1, columns=['Date', 'Tweet', 'Username'])

m_dems14

,Date,Tweet,Username
0,2022-11-17 19:32:09+00:00,"When I was considering running for Congress, @...",RepStephMurphy
1,2022-11-16 19:35:50+00:00,"We can disagree on policy, but we shouldn't ma...",RepStephMurphy
2,2022-11-16 16:07:05+00:00,Kona was so excited to see the #Artemis1 launc...,RepStephMurphy
3,2022-11-15 18:15:29+00:00,It's been one year since we passed the histori...,RepStephMurphy
4,2022-11-11 16:09:29+00:00,"This #VeteransDay and every day, I am thankful...",RepStephMurphy
...,...,...,...
4326,2017-01-31 17:29:57+00:00,(1/2) Had a productive discussion with King Ab...,RepStephMurphy
4327,2017-01-29 01:30:32+00:00,(2/2) We must work in a bipartisan manner to s...,RepStephMurphy
4328,2017-01-29 01:28:37+00:00,(1/2) I strongly oppose @POTUS' exec orders on...,RepStephMurphy
4329,2017-01-27 21:41:27+00:00,Very much enjoyed touring the International Co...,RepStephMurphy
4330,2017-01-26 19:29:02+00:00,Excited to help cheer on these Westside Commun...,RepStephMurphy

In [77]:
murphyl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:MurphyforFL since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    murphyl2.append([tweet.date, tweet.content, tweet.user.username])
m_dems15 = pd.DataFrame(murphyl2, columns=['Date', 'Tweet', 'Username'])

m_dems15

,Date,Tweet,Username
0,2022-11-09 15:26:15+00:00,Florida Dems: we had a rough night. But electi...,MurphyforFL
1,2021-12-28 17:04:42+00:00,Seminole County to give away COVID-19 rapid te...,MurphyforFL
2,2021-12-25 22:05:14+00:00,Merry Christmas from the Murphys! Wishing you ...,MurphyforFL
3,2021-12-21 00:10:49+00:00,@kathygriffin Thank you! ❤️,MurphyforFL
4,2021-12-16 19:11:02+00:00,TUNE IN NOW --&gt; The President is about to a...,MurphyforFL
...,...,...,...
901,2017-02-01 21:52:10+00:00,".@OrlandoWeekly: ""Stephanie Murphy files bill ...",MurphyforFL
902,2017-01-29 01:38:05+00:00,I oppose &amp; will fight President's executiv...,MurphyforFL
903,2017-01-26 20:40:14+00:00,Stopped by @CYNcafe and @foxtailcoffee in #Win...,MurphyforFL
904,2017-01-21 15:45:54+00:00,Check out this crowd of fired up women that ca...,MurphyforFL
905,2017-01-21 15:27:07+00:00,Proud to stand with these Florida women at tod...,MurphyforFL

In [78]:
sinemal1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenatorSinema since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    sinemal1.append([tweet.date, tweet.content, tweet.user.username])
m_dems16 = pd.DataFrame(sinemal1, columns=['Date', 'Tweet', 'Username'])

m_dems16

,Date,Tweet,Username
0,2022-11-18 17:08:00+00:00,Glad to announce over $1.5 million to improve ...,SenatorSinema
1,2022-11-18 01:40:48+00:00,My thoughts are with the U.S. Customs and Bord...,SenatorSinema
2,2022-11-17 20:20:00+00:00,No one should be treated differently because o...,SenatorSinema
3,2022-11-17 17:25:00+00:00,Glad to announce $725K will be invested in Ari...,SenatorSinema
4,2022-11-16 23:18:00+00:00,Proud to see the Senate vote to advance our Re...,SenatorSinema
...,...,...,...
6662,2017-01-21 13:00:01+00:00,Happy birthday @RepKevinCramer!,SenatorSinema
6663,2017-01-20 23:00:01+00:00,We're working with @ASU’s Army ROTC to connect...,SenatorSinema
6664,2017-01-20 16:00:57+00:00,(2/2) Special thanks to officers and first res...,SenatorSinema
6665,2017-01-20 16:00:01+00:00,(1/2) Thank you to the thousands of men/women ...,SenatorSinema
6666,2017-01-20 01:50:08+00:00,Nothing beats an Arizona sunset ... but check ...,SenatorSinema

In [79]:
sinemal2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:kyrstensinema since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    sinemal2.append([tweet.date, tweet.content, tweet.user.username])
m_dems17 = pd.DataFrame(sinemal2, columns=['Date', 'Tweet', 'Username'])

m_dems17

,Date,Tweet,Username
0,2022-11-17 23:30:00+00:00,"Yesterday, the Senate took the first step to a...",kyrstensinema
1,2022-11-16 21:22:28+00:00,I just voted YES to advance our bipartisan Res...,kyrstensinema
2,2022-11-15 23:45:00+00:00,"For nearly 100 years, @HonorHealth Desert Miss...",kyrstensinema
3,2022-11-15 02:38:07+00:00,"Congratulations, @katiehobbs! Looking forward ...",kyrstensinema
4,2022-11-15 00:35:00+00:00,.@uarizona’s new Native FORGE program aims to ...,kyrstensinema
...,...,...,...
4306,2017-01-21 23:00:02+00:00,"Help a veteran in your life, share our Veteran...",kyrstensinema
4307,2017-01-21 20:00:01+00:00,It's been 7 years since the #CitizensUnited de...,kyrstensinema
4308,2017-01-21 16:00:03+00:00,We're working to protect access to healthcare ...,kyrstensinema
4309,2017-01-20 23:00:04+00:00,Have you joined our #CoffeeClub? Come to @Spok...,kyrstensinema
4310,2017-01-20 16:00:01+00:00,.@ASU junior &amp; @USMC vet @cwcadeau founded...,kyrstensinema

#### Assembling the dataframe

In [116]:
mod_dems_tweets_list = [m_dems1, m_dems2, m_dems3, m_dems4, m_dems5, m_dems6, m_dems7, m_dems8, m_dems9, m_dems10, m_dems11, m_dems12, m_dems13, m_dems14, m_dems15, m_dems16, m_dems17, dems5, dems6]
mod_dems_tweets = pd.concat(mod_dems_tweets_list)

In [117]:
mod_dems_tweets = mod_dems_tweets.sort_values(by='Date', ascending = True)
mod_dems_tweets = mod_dems_tweets.reset_index(drop = False)
mod_dems_tweets = mod_dems_tweets.drop(columns=['index'])
mod_dems_tweets.Date = pd.to_datetime(mod_dems_tweets['Date'])
mod_dems_tweets.Date = mod_dems_tweets.Date.dt.strftime("%m/%d/%Y")
mod_dems_tweets.Date = pd.to_datetime(mod_dems_tweets['Date'])
mod_dems_tweets['Political_Score'] = 1
mod_dems_tweets['Democrat_Score'] = 0
mod_dems_tweets['Republican_Score'] = np.nan
mod_dems_tweets

,Date,Tweet,Username,Political_Score,Democrat_Score,Republican_Score
0,2017-01-03,Tmrw @HouseGOP will destroy the office that pr...,SpeakerPelosi,1,0,NaN
1,2017-01-03,Working families expect us to fight for their ...,SpeakerPelosi,1,0,NaN
2,2017-01-03,GOP’s reversal of plans to destroy the OCE wil...,SpeakerPelosi,1,0,NaN
3,2017-01-03,"Watch LIVE as I address the 115th Congress, un...",SpeakerPelosi,1,0,NaN
4,2017-01-03,We open this Congress by paying tribute to tho...,SpeakerPelosi,1,0,NaN
...,...,...,...,...,...,...
63676,2022-11-18,Congressman Steny Hoyer has been one of the mo...,RepJimCosta,1,0,NaN
63677,2022-11-18,He is a members’ member and a role model for a...,RepJimCosta,1,0,NaN
63678,2022-11-18,My thoughts are with the U.S. Customs and Bord...,SenatorSinema,1,0,NaN
63679,2022-11-18,In August: We passed our bipartisan PACT Act i...,SenatorHassan,1,0,NaN
63680,2022-11-18,Glad to announce over $1.5 million to improve ...,SenatorSinema,1,0,NaN

In [118]:
# Sanity Check
print(mod_dems_tweets.shape)
print(mod_dems_tweets.dtypes)
print(mod_dems_tweets.isna().sum())

(63681, 6)
Date                datetime64[ns]
Tweet                       object
Username                    object
Political_Score              int64
Democrat_Score               int64
Republican_Score           float64
dtype: object
Date                    0
Tweet                   0
Username                0
Political_Score         0
Democrat_Score          0
Republican_Score    63681
dtype: int64

### Moderate Republicans

In [83]:
mccarthyl1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:GOPLeader since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    mccarthyl1.append([tweet.date, tweet.content, tweet.user.username])
gop12 = pd.DataFrame(mccarthyl1, columns=['Date', 'Tweet', 'Username'])

gop12

,Date,Tweet,Username
0,2022-11-18 16:04:01+00:00,Thanksgiving will cost you and your family 20%...,GOPLeader
1,2022-11-17 21:03:50+00:00,"In just 47 days, House Republicans will have t...",GOPLeader
2,2022-11-17 14:35:45+00:00,Real accountability is coming... https://t.co/...,GOPLeader
3,2022-11-17 03:11:45+00:00,Tonight it’s official: One-party Democrat rule...,GOPLeader
4,2022-11-17 00:00:14+00:00,🚨 BREAKING 🚨 Republicans have officially flipp...,GOPLeader
...,...,...,...
5091,2017-01-25 14:56:05+00:00,My latest op-ed ➡️ How the House will roll bac...,GOPLeader
5092,2017-01-24 22:07:49+00:00,The new Republican government has a unity of v...,GOPLeader
5093,2017-01-24 17:17:05+00:00,My statement on President Trump’s decision to ...,GOPLeader
5094,2017-01-23 18:04:01+00:00,Our unified Republican government is committed...,GOPLeader
5095,2017-01-20 17:04:27+00:00,Congratulations to the 45th President of the U...,GOPLeader

In [84]:
paull1 = []
maxTweets = 100000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RandPaul since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    paull1.append([tweet.date, tweet.content, tweet.user.username])
gop16 = pd.DataFrame(paull1, columns=['Date', 'Tweet', 'Username'])

gop16

,Date,Tweet,Username
0,2022-11-18 17:15:11+00:00,The Constitution is the guarantor of our liber...,RandPaul
1,2022-11-17 19:02:24+00:00,Now that Republicans will have a House majorit...,RandPaul
2,2022-11-16 17:48:12+00:00,The Constitution clearly says the power to dec...,RandPaul
3,2022-11-16 14:20:39+00:00,ICYMI: yesterday I joined ⁦⁦@MegynKellyShow⁩ t...,RandPaul
4,2022-11-15 18:00:06+00:00,Bush and Obama warning us about ‘disinformatio...,RandPaul
...,...,...,...
3911,2017-01-27 17:02:25+00:00,Thousands #MarchforLife to give voice to those...,RandPaul
3912,2017-01-24 00:25:19+00:00,Protecting the entire Bill of Rights is one of...,RandPaul
3913,2017-01-24 00:16:21+00:00,Rand Paul: Why I voted against the new CIA dir...,RandPaul
3914,2017-01-21 21:04:29+00:00,We had a great time with @ericbolling and @wil...,RandPaul
3915,2017-01-20 13:48:59+00:00,Joining @Morning_Joe on @MSNBC in a few minute...,RandPaul

In [85]:
portmanl1 = []
maxTweets = 20000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:senrobportman since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    portmanl1.append([tweet.date, tweet.content, tweet.user.username])
m_reps1 = pd.DataFrame(portmanl1, columns=['Date', 'Tweet', 'Username'])

m_reps1

,Date,Tweet,Username
0,2022-11-18 01:09:31+00:00,This is an important step for justice and acco...,senrobportman
1,2022-11-17 21:24:38+00:00,We must restore the confidence of the American...,senrobportman
2,2022-11-17 21:24:38+00:00,I also outlined the threats that cyberattacks ...,senrobportman
3,2022-11-17 21:24:37+00:00,"In addition, I underscored the threats posed b...",senrobportman
4,2022-11-17 21:24:37+00:00,"Today, during our annual #HSGAC Threats to the...",senrobportman
...,...,...,...
14524,2017-01-20 15:03:01+00:00,I look forward to working with the new #Trump ...,senrobportman
14525,2017-01-20 14:47:01+00:00,I’m excited about working w/ @realDonaldTrump ...,senrobportman
14526,2017-01-20 14:32:00+00:00,No greater hallmark of the American democracy ...,senrobportman
14527,2017-01-20 14:17:01+00:00,"I’ve attended every new #POTUS #Inauguration, ...",senrobportman
14528,2017-01-20 14:02:19+00:00,Looking forward to attending the #Inauguration...,senrobportman

In [86]:
portmanl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:robportman since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    portmanl2.append([tweet.date, tweet.content, tweet.user.username])
m_reps2 = pd.DataFrame(portmanl2, columns=['Date', 'Tweet', 'Username'])

m_reps2

,Date,Tweet,Username
0,2022-11-09 04:44:25+00:00,"Big night for my friends @MikeDeWine, @JonHust...",robportman
1,2022-11-08 19:01:54+00:00,Passing out @HamCoGOP slate cards with @SteveC...,robportman
2,2022-11-08 15:13:05+00:00,I was honored to join @SteveChabot at the Frat...,robportman
3,2022-11-08 14:19:37+00:00,"Last night, I was proud to join @MikeDeWine, @...",robportman
4,2022-10-29 16:25:42+00:00,Great to be in Cincinnati this morning with @J...,robportman
...,...,...,...
159,2017-05-24 12:54:39+00:00,I’m encouraging all Republicans to unify behin...,robportman
160,2017-05-24 12:54:16+00:00,@JoshMandelOhio is a Marine veteran &amp; fisc...,robportman
161,2017-03-04 15:01:40+00:00,Speaking at NE Hamilton County GOP Club's annu...,robportman
162,2017-02-23 02:10:44+00:00,Enjoyed being @ Sandusky/Seneca GOP Lincoln Di...,robportman
163,2017-01-20 17:00:44+00:00,Congrats to @realDonaldTrump &amp; @mike_pence...,robportman

In [87]:
burrl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenatorBurr since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    burrl1.append([tweet.date, tweet.content, tweet.user.username])
m_reps3 = pd.DataFrame(burrl1, columns=['Date', 'Tweet', 'Username'])

m_reps3

,Date,Tweet,Username
0,2020-12-29 02:30:52+00:00,"My statement on the passing of Marc Basnight, ...",SenatorBurr
1,2020-05-01 21:34:52+00:00,"On Tuesday @ 9:30 AM, Senate Intel will hold i...",SenatorBurr
2,2020-04-23 23:57:17+00:00,I want to wish a blessed Ramadan to all who wi...,SenatorBurr
3,2020-04-21 16:26:25+00:00,With the 2020 presidential election approachin...,SenatorBurr
4,2020-04-21 16:26:25+00:00,One of the ICA’s most important conclusions wa...,SenatorBurr
...,...,...,...
888,2017-01-20 23:16:12+00:00,Senate confirms Gen. Kelly to be Secretary of ...,SenatorBurr
889,2017-01-20 22:53:50+00:00,Senate just confirmed Gen. Mattis to be Secret...,SenatorBurr
890,2017-01-20 22:20:52+00:00,The peaceful transition of power is one of Ame...,SenatorBurr
891,2017-01-20 01:05:44+00:00,I joined @marthamaccallum live from from the n...,SenatorBurr
892,2017-01-20 00:25:02+00:00,Going live with @marthamaccallum in a few minu...,SenatorBurr

In [88]:
shelbyl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenShelby since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    shelbyl1.append([tweet.date, tweet.content, tweet.user.username])
m_reps4 = pd.DataFrame(shelbyl1, columns=['Date', 'Tweet', 'Username'])

m_reps4

,Date,Tweet,Username
0,2022-11-16 18:33:39+00:00,My sincere thanks to the Aviation Council of A...,SenShelby
1,2022-11-16 14:10:09+00:00,It's a great day for @NASA and a great day for...,SenShelby
2,2022-11-15 21:33:16+00:00,Happy 60th anniversary to @CRPHSV! As the seco...,SenShelby
3,2022-11-11 14:32:08+00:00,Thank you to all of the courageous men and wom...,SenShelby
4,2022-11-10 14:14:38+00:00,Today we proudly celebrate 247 years of the U....,SenShelby
...,...,...,...
1778,2017-01-23 22:28:20+00:00,Today I joined more than 30 of my Senate colle...,SenShelby
1779,2017-01-23 22:28:04+00:00,As Americans gather for the annual March for L...,SenShelby
1780,2017-01-20 23:27:57+00:00,Tonight I voted to confirm two @POTUS cabinet ...,SenShelby
1781,2017-01-20 18:26:55+00:00,I look forward to working with the 45th Presid...,SenShelby
1782,2017-01-20 14:05:51+00:00,It was an honor to welcome Alabamians to our n...,SenShelby

In [89]:
collinsl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenatorCollins since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    collinsl1.append([tweet.date, tweet.content, tweet.user.username])
m_reps5 = pd.DataFrame(collinsl1, columns=['Date', 'Tweet', 'Username'])

m_reps5

,Date,Tweet,Username
0,2022-11-16 23:36:55+00:00,Providing this security for families is the ri...,SenatorCollins
1,2022-11-16 23:36:55+00:00,"Tonight, the Senate advanced important legisla...",SenatorCollins
2,2022-11-11 21:55:31+00:00,"At the Northern Maine Veterans Cemetery today,...",SenatorCollins
3,2022-10-28 18:30:04+00:00,I am horrified by this vicious attack on Paul ...,SenatorCollins
4,2022-10-24 14:29:49+00:00,A state-of-the-art lab at @SaintJosephsME will...,SenatorCollins
...,...,...,...
2364,2017-01-24 13:52:41+00:00,HAPPENING NOW: Sen. Collins on @foxandfriends ...,SenatorCollins
2365,2017-01-24 13:31:24+00:00,Coming up at 8:50AM: Sen. Collins on @foxandfr...,SenatorCollins
2366,2017-01-24 12:21:46+00:00,HAPPENING NOW: Sen. Collins on CNN New Day wit...,SenatorCollins
2367,2017-01-23 21:08:18+00:00,HAPPENING NOW: Sen. Collins speaking on her AC...,SenatorCollins
2368,2017-01-20 22:11:21+00:00,Honored to attend today’s inauguration and wit...,SenatorCollins

In [90]:
collinsl2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SenSusanCollins since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    collinsl2.append([tweet.date, tweet.content, tweet.user.username])
m_reps6 = pd.DataFrame(collinsl2, columns=['Date', 'Tweet', 'Username'])

m_reps6

,Date,Tweet,Username
0,2020-12-25 19:43:34+00:00,"It may be 61 degrees and rainy, but Pepper is ...",SenSusanCollins
1,2020-11-26 18:04:15+00:00,Happy Thanksgiving from this little turkey! 🦃 ...,SenSusanCollins
2,2020-11-21 17:57:42+00:00,Republican women broke boundaries this year — ...,SenSusanCollins
3,2020-11-18 20:51:37+00:00,ICYMI 📺: I joined @marthamaccallum to discuss ...,SenSusanCollins
4,2020-11-14 01:30:34+00:00,"""Whenever something contentious comes up in th...",SenSusanCollins
...,...,...,...
801,2020-02-15 22:08:30+00:00,Tourney time -- Nice turnout at the Cross Cent...,SenSusanCollins
802,2020-02-14 22:04:32+00:00,Happy Friday! https://t.co/2urDeEiRqp,SenSusanCollins
803,2019-12-18 19:02:25+00:00,Our nation needs a common-sense voice in Washi...,SenSusanCollins
804,2019-09-04 22:55:22+00:00,"Secretary Chao, ME DOT Commissioner Van Note a...",SenSusanCollins
805,2019-03-15 16:40:42+00:00,Had a great time watching the Caribou boys win...,SenSusanCollins

In [91]:
murkowskil1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:lisamurkowski since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    murkowskil1.append([tweet.date, tweet.content, tweet.user.username])
m_reps7 = pd.DataFrame(murkowskil1, columns=['Date', 'Tweet', 'Username'])

m_reps7

,Date,Tweet,Username
0,2022-11-18 02:12:19+00:00,Following last month’s harvests being canceled...,lisamurkowski
1,2022-11-18 02:12:18+00:00,"I led a letter w/ @SenDanSullivan, @SenatorCan...",lisamurkowski
2,2022-11-18 02:12:17+00:00,The fall red king crab and the winter snow cra...,lisamurkowski
3,2022-11-17 22:32:52+00:00,Good news: more broadband funding announced fo...,lisamurkowski
4,2022-11-17 03:19:31+00:00,Happy to have met with students from the Kenai...,lisamurkowski
...,...,...,...
8042,2017-01-24 18:31:16+00:00,My AK &amp; DC offices have been overwhelmed w...,lisamurkowski
8043,2017-01-24 02:02:01+00:00,Congrats to Mt. View neighborhood on re-dedica...,lisamurkowski
8044,2017-01-23 20:55:38+00:00,Huge congrats to Pete Kaiser on his 3rd consec...,lisamurkowski
8045,2017-01-20 18:17:13+00:00,Spotted my husband Verne in the crowd at #Inau...,lisamurkowski
8046,2017-01-20 18:04:44+00:00,View from the stage at the #Inauguration https...,lisamurkowski

In [92]:
murkowskil2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:LisaForSenate since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    murkowskil2.append([tweet.date, tweet.content, tweet.user.username])
m_reps8 = pd.DataFrame(murkowskil2, columns=['Date', 'Tweet', 'Username'])

m_reps8

,Date,Tweet,Username
0,2022-11-09 08:17:41+00:00,Tune in to watch my #ElectionNight speech righ...,LisaForSenate
1,2022-11-09 03:08:49+00:00,Sign waving across the state! We’re Getting Ou...,LisaForSenate
2,2022-11-09 00:50:24+00:00,Proud to have the support of hundreds of Alask...,LisaForSenate
3,2022-11-09 00:26:44+00:00,Alaska — polls are only open for a few more ho...,LisaForSenate
4,2022-11-08 21:26:18+00:00,Best poll-watcher ever! #OnlyInAlaska https://...,LisaForSenate
...,...,...,...
605,2021-11-25 16:40:41+00:00,"Happy Thanksgiving, Alaska! We have much to be...",LisaForSenate
606,2021-11-13 02:05:50+00:00,"This afternoon, I officially filed the paperwo...",LisaForSenate
607,2021-11-13 00:48:10+00:00,I’m running to continue to be your independent...,LisaForSenate
608,2021-11-12 13:00:03+00:00,BREAKING NEWS: I am excited to announce that I...,LisaForSenate
609,2018-08-23 15:29:15+00:00,Congratulations to my colleague Don Young and ...,LisaForSenate

In [93]:
nunesl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:DevinNunes since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    nunesl1.append([tweet.date, tweet.content, tweet.user.username])
m_reps9 = pd.DataFrame(nunesl1, columns=['Date', 'Tweet', 'Username'])

m_reps9

,Date,Tweet,Username
0,2020-12-08 23:49:22+00:00,BREAKING- YouTube banned this speech Rep McCli...,DevinNunes
1,2020-11-14 00:40:04+00:00,Freedom of Viewing-at Rumble https://t.co/mpD9...,DevinNunes
2,2020-11-13 01:30:30+00:00,Millions Switch to Parler for Free Speech on S...,DevinNunes
3,2020-11-12 01:37:43+00:00,Eerily quiet here in the Twitter Sewer. Though...,DevinNunes
4,2020-10-29 22:13:38+00:00,Stand with Devin Nunes and President Trump! ht...,DevinNunes
...,...,...,...
813,2017-02-19 21:30:32+00:00,Video of my interview today on @FaceTheNation:...,DevinNunes
814,2017-02-19 19:17:31+00:00,How Prosecutors Fought to Keep Rosen’s Warrant...,DevinNunes
815,2017-02-17 23:40:41+00:00,I'll be on CBS’ Face the Nation on Sunday. Sho...,DevinNunes
816,2017-01-29 22:39:51+00:00,My statement on Trump's executive order on ref...,DevinNunes
817,2017-01-21 22:56:30+00:00,I'll be appearing on @CNNSotu tomorrow in the ...,DevinNunes

In [94]:
jacobsl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepJacobs since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    jacobsl1.append([tweet.date, tweet.content, tweet.user.username])
m_reps10 = pd.DataFrame(jacobsl1, columns=['Date', 'Tweet', 'Username'])

m_reps10

,Date,Tweet,Username
0,2022-11-18 14:26:09+00:00,Our district offices will be closed today and ...,RepJacobs
1,2022-11-11 21:49:05+00:00,Happy Veterans Day!\n\nWe are blessed to live ...,RepJacobs
2,2022-09-27 19:06:16+00:00,(2/2) Christian was an American hero who serve...,RepJacobs
3,2022-09-27 19:06:15+00:00,"Last week, my legislation to officially rename...",RepJacobs
4,2022-09-16 17:50:58+00:00,Lowering the overtime threshold for NY farms w...,RepJacobs
...,...,...,...
796,2020-07-30 21:02:21+00:00,Great meeting with @ConawayTX11 today. We disc...,RepJacobs
797,2020-07-30 19:22:04+00:00,Yesterday I helped pass the Water Resources De...,RepJacobs
798,2020-07-30 02:54:12+00:00,Kodak and President Trump are making national ...,RepJacobs
799,2020-07-29 21:33:06+00:00,Community members living on the lakeshore have...,RepJacobs
800,2020-07-27 14:41:56+00:00,Honored to be officially representing the grea...,RepJacobs

In [95]:
garcial1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepMikeGarcia since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    garcial1.append([tweet.date, tweet.content, tweet.user.username])
m_reps11 = pd.DataFrame(garcial1, columns=['Date', 'Tweet', 'Username'])

m_reps11

,Date,Tweet,Username
0,2022-11-18 15:26:00+00:00,Military families across the country will bene...,RepMikeGarcia
1,2022-11-17 18:27:00+00:00,Border security &amp; the fentanyl crisis go h...,RepMikeGarcia
2,2022-11-17 16:59:13+00:00,"With the House back in session, we MUST addres...",RepMikeGarcia
3,2022-11-17 16:59:13+00:00,Our servicemembers suffer from low pay. It’s a...,RepMikeGarcia
4,2022-11-16 19:50:26+00:00,Congrats @NASA on a successful #Artemis launch...,RepMikeGarcia
...,...,...,...
1766,2020-05-26 00:42:20+00:00,"4/7 The second hero, Lt. Col. Matt Kinkade, my...",RepMikeGarcia
1767,2020-05-26 00:42:20+00:00,"3/7 The first, Gunnery Sgt. Diego Pongo of Sim...",RepMikeGarcia
1768,2020-05-26 00:42:20+00:00,2/7 This year’s Memorial Day speech is dedicat...,RepMikeGarcia
1769,2020-05-26 00:42:19+00:00,1/7 Grateful to be invited back to speak at th...,RepMikeGarcia
1770,2020-05-19 16:14:10+00:00,Honored to be sworn in as the next Congressman...,RepMikeGarcia

In [96]:
garcial2 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:ElectMikeGarcia since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    garcial2.append([tweet.date, tweet.content, tweet.user.username])
m_reps12 = pd.DataFrame(garcial2, columns=['Date', 'Tweet', 'Username'])

m_reps12

,Date,Tweet,Username
0,2022-11-16 23:23:33+00:00,I’m as shocked as anyone. The @LATimes is stil...,ElectMikeGarcia
1,2022-11-16 17:34:05+00:00,are exposed to evil and danger every day.,ElectMikeGarcia
2,2022-11-16 17:34:05+00:00,Horrible news this morning. Praying for the re...,ElectMikeGarcia
3,2022-11-16 02:31:29+00:00,It is the honor of my lifetime to continue to ...,ElectMikeGarcia
4,2022-11-14 19:43:24+00:00,are safe for our kids.,ElectMikeGarcia
...,...,...,...
1979,2019-04-13 21:21:49+00:00,"Rebecca, Preston, Jett and I cannot wait to at...",ElectMikeGarcia
1980,2019-04-12 05:27:56+00:00,@AlbieDuncan Annapolis from 1994-1998 (counted...,ElectMikeGarcia
1981,2019-04-10 19:38:00+00:00,Proud to have the support of Former Congressme...,ElectMikeGarcia
1982,2019-04-10 16:01:00+00:00,My entire career has been in the Navy and in b...,ElectMikeGarcia
1983,2019-04-10 13:04:36+00:00,I spent 20 years in the Navy fighting for free...,ElectMikeGarcia

In [97]:
katkol1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepJohnKatko since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    katkol1.append([tweet.date, tweet.content, tweet.user.username])
m_reps13 = pd.DataFrame(katkol1, columns=['Date', 'Tweet', 'Username'])

m_reps13

,Date,Tweet,Username
0,2022-11-16 17:09:03+00:00,ICYMI: I joined @FoxNews to discuss the ongoin...,RepJohnKatko
1,2022-11-11 14:30:00+00:00,Happy Veterans Day! Thank you to our nation’s ...,RepJohnKatko
2,2022-11-04 15:46:57+00:00,ICYMI: I joined On the Money with Dan Pluff to...,RepJohnKatko
3,2022-10-31 13:34:12+00:00,Wishing all Central New Yorkers a very safe an...,RepJohnKatko
4,2022-10-28 22:35:13+00:00,The violent attack against Paul Pelosi is horr...,RepJohnKatko
...,...,...,...
1173,2017-02-13 16:11:10+00:00,Celebrating success of @CafeKubal as part of @...,RepJohnKatko
1174,2017-02-08 14:59:12+00:00,During @HouseHomeland hearing I questioned @D...,RepJohnKatko
1175,2017-02-01 19:39:13+00:00,Yesterday the House passed legislation I autho...,RepJohnKatko
1176,2017-01-31 21:04:28+00:00,Glad to see @POTUS stand up for equal rights &...,RepJohnKatko
1177,2017-01-24 17:01:18+00:00,Great to meet w/Eli Smith - #CNY biz owner &am...,RepJohnKatko

In [98]:
kingl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepPeteKing since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    kingl1.append([tweet.date, tweet.content, tweet.user.username])
m_reps14 = pd.DataFrame(kingl1, columns=['Date', 'Tweet', 'Username'])

m_reps14

,Date,Tweet,Username
0,2022-11-15 23:11:58+00:00,Tomorrow morning at 8:40 AM I will make my wee...,RepPeteKing
1,2022-11-15 13:56:19+00:00,…President Trump &amp; the vicious mob attacki...,RepPeteKing
2,2022-11-15 13:56:19+00:00,.@Mike_Pence is a true patriot whom I am proud...,RepPeteKing
3,2022-11-15 01:33:00+00:00,…candidates who then lost in the general elect...,RepPeteKing
4,2022-11-15 01:33:00+00:00,Today’s @nypost says it all. Republicans lost ...,RepPeteKing
...,...,...,...
934,2017-03-16 20:48:41+00:00,While White House has released no precise #s r...,RepPeteKing
935,2017-03-06 19:44:14+00:00,"I'm holding Tele-Town Hall on Wed, March 8, 6:...",RepPeteKing
936,2017-02-01 01:13:51+00:00,Neil Gorsuch is an outstanding choice for Unit...,RepPeteKing
937,2017-01-24 18:23:13+00:00,Kudos to @POTUS and Building Trades Union Lead...,RepPeteKing
938,2017-01-24 01:45:48+00:00,Congrats to Mike Pompeo just confirmed as CIA ...,RepPeteKing

In [99]:
scalisel1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:SteveScalise since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    scalisel1.append([tweet.date, tweet.content, tweet.user.username])
m_reps15 = pd.DataFrame(scalisel1, columns=['Date', 'Tweet', 'Username'])

m_reps15

,Date,Tweet,Username
0,2022-11-17 21:49:54+00:00,For years the media has covered for the Biden ...,SteveScalise
1,2022-11-17 19:01:20+00:00,Real accountability is finally coming for the ...,SteveScalise
2,2022-11-15 23:40:59+00:00,This House Republican Majority will fight ever...,SteveScalise
3,2022-11-15 19:30:58+00:00,Honored to be elected by my colleagues to serv...,SteveScalise
4,2022-11-11 14:07:28+00:00,THANK YOU to every American veteran for answer...,SteveScalise
...,...,...,...
3743,2017-01-20 18:57:54+00:00,"Together, the @HouseGOP, @SenateGOP and @POTUS...",SteveScalise
3744,2017-01-20 18:01:33+00:00,It's a great day for America! Congrats to @rea...,SteveScalise
3745,2017-01-20 17:25:55+00:00,Congratulations to President Donald Trump and ...,SteveScalise
3746,2017-01-20 15:37:27+00:00,"We've seen slow growth, lost wages, unemployme...",SteveScalise
3747,2017-01-20 15:07:29+00:00,We're not here to preserve Obama's healthcare ...,SteveScalise

In [100]:
gravesl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RepSamGraves since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    gravesl1.append([tweet.date, tweet.content, tweet.user.username])
m_reps16 = pd.DataFrame(gravesl1, columns=['Date', 'Tweet', 'Username'])

m_reps16

,Date,Tweet,Username
0,2022-11-17 20:30:00+00:00,"Thank you to all the doctors, nurses, administ...",RepSamGraves
1,2022-11-16 18:05:07+00:00,Do you have an extra $730 to spend on the thin...,RepSamGraves
2,2022-11-11 19:30:48+00:00,"This Veterans Day and every day, let us rememb...",RepSamGraves
3,2022-11-03 20:00:00+00:00,Taxpayers deserve answers. \n\nWhy is Amtrak p...,RepSamGraves
4,2022-11-03 18:00:00+00:00,"Why is Amtrak, which is heavily subsidized by ...",RepSamGraves
...,...,...,...
1926,2017-02-28 21:45:08+00:00,Remember #WOTUS? The EPA rule that allowed bur...,RepSamGraves
1927,2017-02-15 16:21:24+00:00,Check out this week's column on my work to rev...,RepSamGraves
1928,2017-02-01 14:28:43+00:00,US businesses compete in a crowded global mark...,RepSamGraves
1929,2017-02-01 14:26:03+00:00,Looking forward to this morning's @Transport h...,RepSamGraves
1930,2017-01-22 16:24:26+00:00,Terrible loss for the @Royals and the entire b...,RepSamGraves

In [101]:
carterl1 = []
maxTweets = 10000
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:JudgeCarter since:2017-01-20 lang:en').get_items()):
    if i == maxTweets:
        break
    carterl1.append([tweet.date, tweet.content, tweet.user.username])
m_reps17 = pd.DataFrame(carterl1, columns=['Date', 'Tweet', 'Username'])

m_reps17

,Date,Tweet,Username
0,2022-11-18 14:56:28+00:00,Cartels have capitalized off the chaos at our ...,JudgeCarter
1,2022-11-17 22:12:31+00:00,Our TX-31 DC interns have been doing a fantast...,JudgeCarter
2,2022-11-17 17:29:22+00:00,Erika and I are praying for these CBP Marine A...,JudgeCarter
3,2022-11-17 14:39:01+00:00,Since Biden took office less than two years ag...,JudgeCarter
4,2022-11-16 22:26:38+00:00,"In October, my office returned $148,388 back t...",JudgeCarter
...,...,...,...
2404,2017-01-25 01:00:03+00:00,"Today the House passed H.R. 7, making the #Hyd...",JudgeCarter
2405,2017-01-22 23:40:54+00:00,.@Baylor's #Immortal10 lost their lives 90 yea...,JudgeCarter
2406,2017-01-22 03:47:25+00:00,.@HouseGOP is hard at work to increase access ...,JudgeCarter
2407,2017-01-21 14:59:19+00:00,".@HEB &amp; @Whataburger? Needless to say, we'...",JudgeCarter
2408,2017-01-20 18:44:37+00:00,"Congratulations to @realDonaldTrump, the 45th ...",JudgeCarter

#### Assembling the dataframe

In [119]:
mod_reps_tweets_list = [m_reps1, m_reps2, m_reps3, m_reps4, m_reps5, m_reps6, m_reps7, m_reps8, m_reps9, m_reps10, m_reps11, m_reps12, m_reps13, m_reps14, m_reps15, m_reps16, m_reps17, gop12, gop16]
mod_reps_tweets = pd.concat(mod_reps_tweets_list)

In [120]:
mod_reps_tweets = mod_reps_tweets.sort_values(by='Date', ascending = True)
mod_reps_tweets = mod_reps_tweets.reset_index(drop = False)
mod_reps_tweets = mod_reps_tweets.drop(columns=['index'])
mod_reps_tweets.Date = pd.to_datetime(mod_reps_tweets['Date'])
mod_reps_tweets.Date = mod_reps_tweets.Date.dt.strftime("%m/%d/%Y")
mod_reps_tweets.Date = pd.to_datetime(mod_reps_tweets['Date'])
mod_reps_tweets['Political_Score'] = 0
mod_reps_tweets['Democrat_Score'] = np.nan
mod_reps_tweets['Republican_Score'] = 0
mod_reps_tweets

,Date,Tweet,Username,Political_Score,Democrat_Score,Republican_Score
0,2017-01-20,Going live with @marthamaccallum in a few minu...,SenatorBurr,0,NaN,0
1,2017-01-20,I joined @marthamaccallum live from from the n...,SenatorBurr,0,NaN,0
2,2017-01-20,Joining @Morning_Joe on @MSNBC in a few minute...,RandPaul,0,NaN,0
3,2017-01-20,Looking forward to attending the #Inauguration...,senrobportman,0,NaN,0
4,2017-01-20,It was an honor to welcome Alabamians to our n...,SenShelby,0,NaN,0
...,...,...,...,...,...,...
53787,2022-11-18,Our district offices will be closed today and ...,RepJacobs,0,NaN,0
53788,2022-11-18,Cartels have capitalized off the chaos at our ...,JudgeCarter,0,NaN,0
53789,2022-11-18,Military families across the country will bene...,RepMikeGarcia,0,NaN,0
53790,2022-11-18,Thanksgiving will cost you and your family 20%...,GOPLeader,0,NaN,0
53791,2022-11-18,The Constitution is the guarantor of our liber...,RandPaul,0,NaN,0

In [121]:
# Sanity Check
print(mod_reps_tweets.shape)
print(mod_reps_tweets.dtypes)
print(mod_reps_tweets.isna().sum())

(53792, 6)
Date                datetime64[ns]
Tweet                       object
Username                    object
Political_Score              int64
Democrat_Score             float64
Republican_Score             int64
dtype: object
Date                    0
Tweet                   0
Username                0
Political_Score         0
Democrat_Score      53792
Republican_Score        0
dtype: int64

## Final Dataset

In [122]:
alldfs = [lib_dems_tweets, mod_dems_tweets, mod_reps_tweets, con_reps_tweets]
df = pd.concat(alldfs)
df

,Date,Tweet,Username,Political_Score,Democrat_Score,Republican_Score
0,2017-01-20,Let us all stand up for people who deserve to ...,KamalaHarris,1,1.0,NaN
1,2017-01-20,A very powerful read about the stories of our ...,PramilaJayapal,1,1.0,NaN
2,2017-01-20,"If heaven has a flaw, we're gonna find out soo...",SenSchumer,1,1.0,NaN
3,2017-01-20,"Barrett was a brilliant NY beacon, cleaning up...",SenSchumer,1,1.0,NaN
4,2017-01-20,Positive conversation with @downtownseattle to...,RepJayapal,1,1.0,NaN
...,...,...,...,...,...,...
130617,2022-11-18,Republicans need to fight:\n \n✅ For the membe...,SenTedCruz,0,NaN,1.0
130618,2022-11-18,"MAJOR VICTORY, Nancy Pelosi Is No Longer The S...",tedcruz,0,NaN,1.0
130619,2022-11-18,NEXT. Judiciary Republicans seek testimony fro...,Jim_Jordan,0,NaN,1.0
130620,2022-11-18,NEXT. Judiciary Republicans Reveal First Targe...,Jim_Jordan,0,NaN,1.0
130621,2022-11-18,Israel will always be a great ally and friend ...,SenRickScott,0,NaN,1.0

In [123]:
df = df.sort_values(by='Date', ascending = True)
df = df.reset_index(drop = False)
df = df.drop(columns=['index'])
df.Date = pd.to_datetime(df['Date'])
df.Date = df.Date.dt.strftime("%m/%d/%Y")
df.Date = pd.to_datetime(df['Date'])
df

,Date,Tweet,Username,Political_Score,Democrat_Score,Republican_Score
0,2017-01-03,GOP’s reversal of plans to destroy the OCE wil...,SpeakerPelosi,1,0.0,NaN
1,2017-01-03,Working families expect us to fight for their ...,SpeakerPelosi,1,0.0,NaN
2,2017-01-03,Tmrw @HouseGOP will destroy the office that pr...,SpeakerPelosi,1,0.0,NaN
3,2017-01-03,"We'll seek common ground, but we'll stand our ...",SpeakerPelosi,1,0.0,NaN
4,2017-01-03,I offer my congratulations to the Speaker of t...,SpeakerPelosi,1,0.0,NaN
...,...,...,...,...,...,...
385964,2022-11-18,America is going back to the Moon!\n\nhttps://...,amyklobuchar,1,1.0,NaN
385965,2022-11-18,We’re hiring! Our office is seeking a Policy A...,RepAOC,1,1.0,NaN
385966,2022-11-18,"Unfair, hidden fees known as “junk fees” take ...",POTUS,1,1.0,NaN
385967,2022-11-18,The Constitution is the guarantor of our liber...,RandPaul,0,NaN,0.0
385968,2022-11-18,Israel will always be a great ally and friend ...,SenRickScott,0,NaN,1.0

In [124]:
# Sanity Check
print(df.shape)
print(df.dtypes)
print(df.isna().sum())

(385969, 6)
Date                datetime64[ns]
Tweet                       object
Username                    object
Political_Score              int64
Democrat_Score             float64
Republican_Score           float64
dtype: object
Date                     0
Tweet                    0
Username                 0
Political_Score          0
Democrat_Score      184414
Republican_Score    201555
dtype: int64

In [125]:
df.to_csv('Full Tweet Dataset')